<a href="https://colab.research.google.com/github/arunharan/python_class/blob/master/Pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Resources

## <center>Data Aggregation and Data Wrangling </center>

* [1](https://www.kdnuggets.com/2017/06/7-steps-mastering-data-preparation-python.html)
* [2](https://data-flair.training/blogs/data-wrangling-with-python/)
* [3](https://www.analyticsvidhya.com/blog/2014/09/data-munging-python-using-pandas-baby-steps-python/)
* [4](https://towardsdatascience.com/data-wrangling-with-pandas-5b0be151df4e)

# <center>Introduction to Pandas</center>

![](https://pandas.pydata.org/_static/pandas_logo.png)

>pandas is an open source, BSD-licensed library providing **high-performance**, **easy-to-use data structures** and **data analysis tools** for the Python programming language.  Pandas stands for “Python Data Analysis Library”. According to the Wikipedia page on Pandas, “the name is derived from the term “panel data”, an econometrics term for multidimensional structured data sets.” 

## Why use Pandas?

What’s cool about Pandas is that it takes data (like a CSV or TSV file, or a SQL database) and creates a Python object with rows and columns called **data frame** that looks very similar to table in a statistical software (think Excel). This is so much easier to work with in comparison to working with lists and/or dictionaries through for loops or list comprehension!

![](https://i.imgur.com/qYpNL3O.png)

So, in a way:

# <center>ARRAY + TABLE = PANDAS</center>

![](https://memegenerator.net/img/instances/500x/51740682/you-are-a-python-lover-if-pandas-doesnt-mean-but-httppandaspydataorg.jpg)

## Installation

Simply,
```
pip install pandas
```

In [ ]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\hp\anaconda3\lib\site-packages (1.0.1)
Requirement already satisfied: numpy>=1.13.3 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (1.18.1)
Requirement already satisfied: python-dateutil>=2.6.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in c:\users\hp\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.6.1->pandas) (1.14.0)

# Reading data from a CSV file

You can read data from a CSV file using the ``read_csv`` function. By default, it assumes that the fields are comma-separated.

In [ ]:
import pandas as pd
# import numpy as np

In [ ]:
# Navigate to the folder where the file is
# click on the file once
# press shift + right click ---> click on copy as path

In [ ]:
# csv, excel, txt

In [ ]:
's\nid'

's\nid'

In [ ]:
pd.read_csv(r"D:\Teachings\Python\Machine Learning\Libraries\Pandas\Diabetes data.txt")

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
# Series---> one columns
# Dataframe ---> Many columns

In [ ]:
pd.read_csv(r"D:\Teachings\Python\Machine Learning\Libraries\Pandas\Diabetes data.txt")
# raw link
# pd.read_excel

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
pwd # present working directory

'C:\\Users\\HP\\Python\\Libraries\\Pandas'

In [ ]:
df = pd.read_csv(r"D:\Teachings\Python\Machine Learning\Algorithms\KNN\Diabetes data.txt")

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
len(df)

768

In [ ]:
type(df)
# DataFrame - It will be having multiple columns
# Series -  It will be having one column

pandas.core.frame.DataFrame

In [ ]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
len(df.columns)

9

In [ ]:
df.dtypes

Pregnancies                   int64
Glucose                       int64
BloodPressure                 int64
SkinThickness                 int64
Insulin                       int64
BMI                         float64
DiabetesPedigreeFunction    float64
Age                           int64
Outcome                       int64
dtype: object

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

In [ ]:
df.describe() # Number columns alone

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [ ]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
df['Pregnancies']

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: int64

In [ ]:
df.Pregnancies

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: int64

In [ ]:
df['Pregnancies'].quantile([0.25,0.50,0.75,0.88]) # Pandas

0.25    1.0
0.50    3.0
0.75    6.0
0.88    8.0
Name: Pregnancies, dtype: float64

In [ ]:
# import numpy as np
from numpy import percentile

In [ ]:
percentile(df['Pregnancies'],[25,50]) # Numpy

array([1., 3.])

In [ ]:
df.isna().any() # any, all
# isnull()

Pregnancies                 False
Glucose                     False
BloodPressure               False
SkinThickness               False
Insulin                     False
BMI                         False
DiabetesPedigreeFunction    False
Age                         False
Outcome                     False
dtype: bool

In [ ]:
df.isna().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

# Creating Dataframe

A list of lists/tuples can be used to create a DataFrame.

In [ ]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
age = {1,2,3,4,5}

In [ ]:
names

['Bob', 'Jessica', 'Mary', 'John', 'Mel']

In [ ]:
births

[968, 155, 77, 578, 973]

In [ ]:
age

{1, 2, 3, 4, 5}

In [ ]:
list(zip(names, births,age))

[('Bob', 968, 1),
 ('Jessica', 155, 2),
 ('Mary', 77, 3),
 ('John', 578, 4),
 ('Mel', 973, 5)]

In [ ]:
data = list(zip(names, births,age))

In [ ]:
data

[('Bob', 968, 1),
 ('Jessica', 155, 2),
 ('Mary', 77, 3),
 ('John', 578, 4),
 ('Mel', 973, 5)]

In [ ]:
import pandas as pd

In [ ]:
df = pd.DataFrame(data, columns=['Names','Births','Age'])

In [ ]:
df

     Names  Births  Age
0      Bob     968    1
1  Jessica     155    2
2     Mary      77    3
3     John     578    4
4      Mel     973    5

In [ ]:
df.set_index('Names')

         Births  Age
Names
Bob         968    1
Jessica     155    2
Mary         77    3
John        578    4
Mel         973    5

In [ ]:
df

     Names  Births  Age
0      Bob     968    1
1  Jessica     155    2
2     Mary      77    3
3     John     578    4
4      Mel     973    5

In [ ]:
df = df.set_index('Names')
df

         Births  Age
Names
Bob         968    1
Jessica     155    2
Mary         77    3
John        578    4
Mel         973    5

In [ ]:
df.set_index('Names', inplace=True)
df

         Births  Age
Names
Bob         968    1
Jessica     155    2
Mary         77    3
John        578    4
Mel         973    5

In [ ]:
df.columns

Index(['Births', 'Age'], dtype='object')

In [ ]:
df.index

Index(['Bob', 'Jessica', 'Mary', 'John', 'Mel'], dtype='object', name='Names')

In [ ]:
df.index = [7,8,9,10,11]
df

    Births  Age
7      968    1
8      155    2
9       77    3
10     578    4
11     973    5

In [ ]:
df.to_excel('Births.xlsx') # to_csv, .csv

In [ ]:
pwd

'C:\\Users\\HP\\Python\\Libraries\\Pandas'

# Understanding Columns

In [ ]:
# import pandas as pd

In [ ]:
df = pd.read_csv(r"D:\Teachings\Python\Machine Learning\Algorithms\KNN\Diabetes data.txt")

## Selecting columns

When you read a CSV, you get a kind of object called a DataFrame, which is made up of rows and columns. You get columns out of a DataFrame the same way you get elements out of a dictionary.

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
len(df.columns)

9

In [ ]:
df['Pregnancies']

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: int64

In [ ]:
df.Pregnancies

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: int64

In [ ]:
df['Pregnancies'].head()

0    6
1    1
2    8
3    1
4    0
Name: Pregnancies, dtype: int64

In [ ]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
df[['Pregnancies', 'Glucose','Age','Outcome']]

     Pregnancies  Glucose  Age  Outcome
0              6      148   50        1
1              1       85   31        0
2              8      183   32        1
3              1       89   21        0
4              0      137   33        1
..           ...      ...  ...      ...
763           10      101   63        0
764            2      122   27        0
765            5      121   30        0
766            1      126   47        1
767            1       93   23        0

[768 rows x 4 columns]

In [ ]:
df1 = df[['Pregnancies', 'Glucose','BloodPressure']]

In [ ]:
df1.head()

   Pregnancies  Glucose  BloodPressure
0            6      148             72
1            1       85             66
2            8      183             64
3            1       89             66
4            0      137             40

On the inside, the type of a column is ``pd.Series`` and pandas Series are internally numpy arrays. If you add ``.values`` to the end of any Series, you'll get its internal **numpy array**.

In [ ]:
type(df1)

pandas.core.frame.DataFrame

In [ ]:
sr = df['Pregnancies']

In [ ]:
type(sr)

pandas.core.series.Series

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
sr

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: int64

In [ ]:
sr[763]

10

In [ ]:
import warnings
warnings.filterwarnings('ignore')
sr[763] = 30
sr[763]

30

In [ ]:
df.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1

In [ ]:
df['Pregnancies'][0]

6

In [ ]:
df['Pregnancies'][0] = 20
df.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,20,148,72,35,0,33.6,0.627,50,1

In [ ]:
df['Pregnancies'].values

array([20,  1,  8,  1,  0,  5,  3, 10,  2,  8,  4, 10, 10,  1,  5,  7,  0,
        7,  1,  1,  3,  8,  7,  9, 11, 10,  7,  1, 13,  5,  5,  3,  3,  6,
       10,  4, 11,  9,  2,  4,  3,  7,  7,  9,  7,  0,  1,  2,  7,  7,  1,
        1,  5,  8,  7,  1,  7,  0,  0,  0,  2,  8,  5,  2,  7,  5,  0,  2,
        1,  4,  2,  5, 13,  4,  1,  1,  7,  5,  0,  2,  3,  2,  7,  0,  5,
        2, 13,  2, 15,  1,  1,  4,  7,  4,  2,  6,  2,  1,  6,  1,  1,  1,
        0,  1,  2,  1,  1,  4,  3,  0,  3,  8,  1,  4,  7,  4,  5,  5,  4,
        4,  0,  6,  2,  5,  0,  1,  3,  1,  1,  0,  4,  9,  3,  8,  2,  2,
        0,  0,  0,  5,  3,  5,  2, 10,  4,  0,  9,  2,  5,  2,  1,  4,  9,
        1,  8,  7,  2,  1,  2, 17,  4,  7,  0,  2,  0,  6,  3,  4,  4,  3,
        6,  6,  2,  1,  2,  8,  6,  0,  5,  5,  6,  0,  1,  5,  4,  7,  8,
        1,  8,  5,  3,  9,  7, 11,  8,  5,  1,  3,  4,  4,  0,  1,  0,  2,
        6,  5,  8,  5,  1,  7,  2,  0,  7,  0,  9, 12,  5,  6,  5,  5,  0,
        2,  7,  7,  1,  1,  0,  3,  4,  0,  4,  6,  1,  4,  3,  4,  7,  0,
        9,  0,  1,  4,  3,  6,  2,  9, 10,  0,  9,  1,  9,  2,  2,  0, 12,
        1,  3,  2,  1, 11,  3,  3,  4,  3,  4,  5,  0,  2,  0,  2, 10,  2,
        3,  1, 13,  2,  7,  0,  5,  2,  0, 10,  7,  7,  2,  7,  5,  1,  4,
        5,  0,  0,  2,  1,  0,  6,  2,  0, 14,  8,  0,  2,  5,  5,  3,  2,
       10,  0,  0,  2,  6,  0,  2,  3,  7,  2,  3,  3,  3,  6,  4,  3,  0,
       13,  2,  1,  1, 10,  2,  6,  8,  2,  1, 12,  1,  0,  0,  5,  9,  7,
        1,  1,  1,  5,  8,  8,  1,  3,  3,  5,  4,  4,  3,  1,  3,  9,  1,
       13, 12,  1,  5,  5,  5,  4,  4,  5,  6,  0,  3,  1,  3,  0,  0,  2,
        2, 12,  0,  1,  4,  0,  1,  0,  1,  1,  1,  1,  5,  8,  5,  3,  1,
        5,  1,  4,  4,  2,  3,  0,  3,  3,  4,  6,  5,  9,  5,  2,  4,  0,
        8,  1,  6,  1,  1,  1,  0,  3,  1,  4,  1,  3,  1,  2,  0,  2,  8,
        4,  0,  1,  0,  1,  2,  3,  1,  2,  1,  0, 12,  5,  1,  6,  0,  2,
        4,  8,  4,  0,  1,  0,  0,  0,  1,  2,  0,  2,  2, 14,  1,  5, 10,
        9,  9,  1,  8,  5, 10,  0,  0,  0,  8,  6,  1,  0,  0,  7,  4,  0,
        2,  7,  8,  4,  3,  0,  4,  0,  0,  0,  1,  0,  4,  8,  2,  2,  4,
        4,  3,  6,  5,  2,  7,  6,  2,  3,  6,  7,  3, 10,  0,  1,  2,  8,
       12,  0,  9,  2,  3,  3,  9,  7, 13,  6,  2,  3,  6,  9,  3,  3,  1,
        3,  0,  0,  2,  0,  1,  6,  1,  4,  0,  0,  0,  3,  8,  3, 10,  4,
        1,  8,  5,  4,  1,  4,  1,  3,  6,  1,  1,  7,  1,  8, 11, 11,  6,
        0,  1,  6,  0,  2,  1,  6,  4,  0,  3,  2,  3,  2,  1,  1,  6,  2,
       10,  2,  0,  6, 12,  8,  8,  1,  8,  6,  3,  0, 11,  2,  3,  2,  6,
        0,  0,  1,  1,  1,  1,  6,  1,  7,  4,  1,  1,  1,  0,  1,  3,  3,
        7,  6, 11,  3,  6,  2,  9,  0,  2,  2,  6,  0,  2,  4,  0,  0,  5,
        4,  7,  0,  2,  1, 10, 13,  5,  2,  7,  1,  0,  4,  6,  4,  3,  2,
        1,  0, 11,  0,  1,  1,  5,  2,  1,  2,  2,  1, 11,  3, 10,  1,  8,
        9,  6,  1,  4, 10,  6,  9,  6,  1, 10,  3,  8,  6,  9,  0,  3,  2,
        2,  0,  0,  4,  5,  2,  3,  1,  1,  1,  8, 13,  2,  7,  2,  7,  3,
        0,  4,  4,  2,  6,  1,  2,  4,  6, 10,  2,  9,  2,  3,  5, 10,  0,
        3,  7,  3, 10,  1,  5,  4,  1,  1,  5,  1,  4,  1,  0,  2,  2,  3,
        8,  2,  2,  2,  4,  0,  8,  2,  1, 11,  3,  1,  9, 13, 12,  1,  1,
        3,  6,  4,  1,  3,  0,  8,  1,  7,  0,  1,  6,  2,  9,  9, 30,  2,
        5,  1,  1], dtype=int64)

In [ ]:
sr.values

array([20,  1,  8,  1,  0,  5,  3, 10,  2,  8,  4, 10, 10,  1,  5,  7,  0,
        7,  1,  1,  3,  8,  7,  9, 11, 10,  7,  1, 13,  5,  5,  3,  3,  6,
       10,  4, 11,  9,  2,  4,  3,  7,  7,  9,  7,  0,  1,  2,  7,  7,  1,
        1,  5,  8,  7,  1,  7,  0,  0,  0,  2,  8,  5,  2,  7,  5,  0,  2,
        1,  4,  2,  5, 13,  4,  1,  1,  7,  5,  0,  2,  3,  2,  7,  0,  5,
        2, 13,  2, 15,  1,  1,  4,  7,  4,  2,  6,  2,  1,  6,  1,  1,  1,
        0,  1,  2,  1,  1,  4,  3,  0,  3,  8,  1,  4,  7,  4,  5,  5,  4,
        4,  0,  6,  2,  5,  0,  1,  3,  1,  1,  0,  4,  9,  3,  8,  2,  2,
        0,  0,  0,  5,  3,  5,  2, 10,  4,  0,  9,  2,  5,  2,  1,  4,  9,
        1,  8,  7,  2,  1,  2, 17,  4,  7,  0,  2,  0,  6,  3,  4,  4,  3,
        6,  6,  2,  1,  2,  8,  6,  0,  5,  5,  6,  0,  1,  5,  4,  7,  8,
        1,  8,  5,  3,  9,  7, 11,  8,  5,  1,  3,  4,  4,  0,  1,  0,  2,
        6,  5,  8,  5,  1,  7,  2,  0,  7,  0,  9, 12,  5,  6,  5,  5,  0,
        2,  7,  7,  1,  1,  0,  3,  4,  0,  4,  6,  1,  4,  3,  4,  7,  0,
        9,  0,  1,  4,  3,  6,  2,  9, 10,  0,  9,  1,  9,  2,  2,  0, 12,
        1,  3,  2,  1, 11,  3,  3,  4,  3,  4,  5,  0,  2,  0,  2, 10,  2,
        3,  1, 13,  2,  7,  0,  5,  2,  0, 10,  7,  7,  2,  7,  5,  1,  4,
        5,  0,  0,  2,  1,  0,  6,  2,  0, 14,  8,  0,  2,  5,  5,  3,  2,
       10,  0,  0,  2,  6,  0,  2,  3,  7,  2,  3,  3,  3,  6,  4,  3,  0,
       13,  2,  1,  1, 10,  2,  6,  8,  2,  1, 12,  1,  0,  0,  5,  9,  7,
        1,  1,  1,  5,  8,  8,  1,  3,  3,  5,  4,  4,  3,  1,  3,  9,  1,
       13, 12,  1,  5,  5,  5,  4,  4,  5,  6,  0,  3,  1,  3,  0,  0,  2,
        2, 12,  0,  1,  4,  0,  1,  0,  1,  1,  1,  1,  5,  8,  5,  3,  1,
        5,  1,  4,  4,  2,  3,  0,  3,  3,  4,  6,  5,  9,  5,  2,  4,  0,
        8,  1,  6,  1,  1,  1,  0,  3,  1,  4,  1,  3,  1,  2,  0,  2,  8,
        4,  0,  1,  0,  1,  2,  3,  1,  2,  1,  0, 12,  5,  1,  6,  0,  2,
        4,  8,  4,  0,  1,  0,  0,  0,  1,  2,  0,  2,  2, 14,  1,  5, 10,
        9,  9,  1,  8,  5, 10,  0,  0,  0,  8,  6,  1,  0,  0,  7,  4,  0,
        2,  7,  8,  4,  3,  0,  4,  0,  0,  0,  1,  0,  4,  8,  2,  2,  4,
        4,  3,  6,  5,  2,  7,  6,  2,  3,  6,  7,  3, 10,  0,  1,  2,  8,
       12,  0,  9,  2,  3,  3,  9,  7, 13,  6,  2,  3,  6,  9,  3,  3,  1,
        3,  0,  0,  2,  0,  1,  6,  1,  4,  0,  0,  0,  3,  8,  3, 10,  4,
        1,  8,  5,  4,  1,  4,  1,  3,  6,  1,  1,  7,  1,  8, 11, 11,  6,
        0,  1,  6,  0,  2,  1,  6,  4,  0,  3,  2,  3,  2,  1,  1,  6,  2,
       10,  2,  0,  6, 12,  8,  8,  1,  8,  6,  3,  0, 11,  2,  3,  2,  6,
        0,  0,  1,  1,  1,  1,  6,  1,  7,  4,  1,  1,  1,  0,  1,  3,  3,
        7,  6, 11,  3,  6,  2,  9,  0,  2,  2,  6,  0,  2,  4,  0,  0,  5,
        4,  7,  0,  2,  1, 10, 13,  5,  2,  7,  1,  0,  4,  6,  4,  3,  2,
        1,  0, 11,  0,  1,  1,  5,  2,  1,  2,  2,  1, 11,  3, 10,  1,  8,
        9,  6,  1,  4, 10,  6,  9,  6,  1, 10,  3,  8,  6,  9,  0,  3,  2,
        2,  0,  0,  4,  5,  2,  3,  1,  1,  1,  8, 13,  2,  7,  2,  7,  3,
        0,  4,  4,  2,  6,  1,  2,  4,  6, 10,  2,  9,  2,  3,  5, 10,  0,
        3,  7,  3, 10,  1,  5,  4,  1,  1,  5,  1,  4,  1,  0,  2,  2,  3,
        8,  2,  2,  2,  4,  0,  8,  2,  1, 11,  3,  1,  9, 13, 12,  1,  1,
        3,  6,  4,  1,  3,  0,  8,  1,  7,  0,  1,  6,  2,  9,  9, 30,  2,
        5,  1,  1], dtype=int64)

In [ ]:
sr.sum()

2987

In [ ]:
sr.values.sum()

2987

In [ ]:
sr.values.mean()

3.8893229166666665

In [ ]:
sr.mean()

3.8893229166666665

In [ ]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
df.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,20,148,72,35,0,33.6,0.627,50,1

In [ ]:
df['Number'] = df['Pregnancies'] * 10
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Number
0,20,148,72,35,0,33.6,0.627,50,1,200
1,1,85,66,29,0,26.6,0.351,31,0,10
2,8,183,64,0,0,23.3,0.672,32,1,80
3,1,89,66,23,94,28.1,0.167,21,0,10
4,0,137,40,35,168,43.1,2.288,33,1,0

# Value Counts

Get count of unique values in a particular column/Series.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"D:\Teachings\Python\Machine Learning\Algorithms\KNN\Diabetes data.txt")

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df['Outcome'].unique()

array([1, 0], dtype=int64)

In [ ]:
df['Outcome'].nunique()

2

In [ ]:
df['Pregnancies'].unique()

array([ 6,  1,  8,  0,  5,  3, 10,  2,  4,  7,  9, 11, 13, 15, 17, 12, 14],
      dtype=int64)

In [ ]:
df['Pregnancies'].nunique()

17

In [ ]:
df.Pregnancies.unique()

array([ 6,  1,  8,  0,  5,  3, 10,  2,  4,  7,  9, 11, 13, 15, 17, 12, 14],
      dtype=int64)

In [ ]:
df.Pregnancies.nunique()

17

In [ ]:
len(df)

768

In [ ]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

In [ ]:
df['Age'].value_counts()

22    72
21    63
25    48
24    46
23    38
28    35
26    33
27    32
29    29
31    24
41    22
30    21
37    19
42    18
33    17
32    16
36    16
38    16
45    15
34    14
40    13
43    13
46    13
39    12
35    10
50     8
44     8
51     8
52     8
58     7
47     6
54     6
57     5
60     5
48     5
49     5
53     5
55     4
62     4
63     4
66     4
56     3
59     3
65     3
67     3
61     2
69     2
72     1
64     1
68     1
70     1
81     1
Name: Age, dtype: int64

In [ ]:
gc = df['Pregnancies'].value_counts()

In [ ]:
gc

1     135
0     111
2     103
3      75
4      68
5      57
6      50
7      45
8      38
9      28
10     24
11     11
13     10
12      9
14      2
15      1
17      1
Name: Pregnancies, dtype: int64

# Index and Indexing

## Index

### DATAFRAME = COLUMNS + INDEX + ND DATA

### SERIES = INDEX + 1-D DATA

**Index** or (**row labels**) is one of the fundamental data structure of pandas. It can be thought of as an **immutable array** and an **ordered set**.

> Every row is uniquely identified by its index value.

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv(r"D:\Teachings\Python\Machine Learning\Algorithms\KNN\Diabetes data.txt")

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
df[0]

KeyError: 0

In [ ]:
df.iloc[0] # interger location

Pregnancies                   6.000
Glucose                     148.000
BloodPressure                72.000
SkinThickness                35.000
Insulin                       0.000
BMI                          33.600
DiabetesPedigreeFunction      0.627
Age                          50.000
Outcome                       1.000
Name: 0, dtype: float64

In [ ]:
df.iloc[[0,200,555,100,2,3,4,5]]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
200,0,113,80,16,0,31.0,0.874,21,0
555,7,124,70,33,215,25.5,0.161,37,0
100,1,163,72,0,0,39.0,1.222,33,1
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0

In [ ]:
df.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

## Slicing of dataframe

In [ ]:
df.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1

In [ ]:
df[0:4]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0

In [ ]:
# df.iloc[rows,columns]
df.iloc[0:4,0:3]

   Pregnancies  Glucose  BloodPressure
0            6      148             72
1            1       85             66
2            8      183             64
3            1       89             66

In [ ]:
df.iloc[[0,4],[3,7]]

   SkinThickness  Age
0             35   50
4             35   33

In [ ]:
df.iloc[0:6,1:4]

   Glucose  BloodPressure  SkinThickness
0      148             72             35
1       85             66             29
2      183             64              0
3       89             66             23
4      137             40             35
5      116             74              0

In [ ]:
sr = df['Pregnancies']
sr

0       6
1       1
2       8
3       1
4       0
       ..
763    10
764     2
765     5
766     1
767     1
Name: Pregnancies, Length: 768, dtype: int64

In [ ]:
sr[0:10]

0     6
1     1
2     8
3     1
4     0
5     5
6     3
7    10
8     2
9     8
Name: Pregnancies, dtype: int64

# Filtering rows by column values

In [ ]:
import pandas as pd
df = pd.read_csv(r"D:\Teachings\Python\Machine Learning\Algorithms\KNN\Diabetes data.txt")

In [ ]:
len(df)

768

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
# >
# <
# >=
# <=
# ==
# !=

In [ ]:
3 > 5

False

In [ ]:
# and ---> returns True when both the conditions are True
# or ---> return True when either of the conditions is True

and (&) ---> checks whether both the conditions are true, then only it return true else it return false

or(|) ---> checks whether one of the conditions is true, then only it return true if both the conditions are false it return false

In [ ]:
3 > 3

False

In [ ]:
df.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
df['Outcome'].unique()

array([1, 0], dtype=int64)

In [ ]:
df['Outcome']

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [ ]:
df[df['Outcome'] == 1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1
8,2,197,70,45,543,30.5,0.158,53,1
...,...,...,...,...,...,...,...,...,...
755,1,128,88,39,110,36.5,1.057,37,1
757,0,123,72,0,0,36.3,0.258,52,1
759,6,190,92,0,0,35.5,0.278,66,1
761,9,170,74,31,0,44.0,0.403,43,1
766,1,126,60,0,0,30.1,0.349,47,1

In [ ]:
df.head(1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1

In [ ]:
df[df['Pregnancies'] >  10]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
24,11,143,94,33,146,36.6,0.254,51,1
28,13,145,82,19,110,22.2,0.245,57,0
36,11,138,76,0,0,33.2,0.420,35,0
72,13,126,90,0,0,43.4,0.583,42,1
86,13,106,72,54,0,36.6,0.178,45,0
88,15,136,70,32,110,37.1,0.153,43,1
159,17,163,72,41,114,40.9,0.817,47,1
193,11,135,0,0,0,52.3,0.578,40,1
215,12,151,70,40,271,41.8,0.742,38,1
254,12,92,62,7,258,27.6,0.926,44,1
259,11,155,76,28,150,33.3,1.353,51,1
274,13,106,70,0,0,34.2,0.251,52,0
298,14,100,78,25,184,36.6,0.412,46,1
323,13,152,90,33,29,26.8,0.731,43,1
333,12,106,80,0,0,23.6,0.137,44,0
357,13,129,0,30,0,39.9,0.569,44,1
358,12,88,74,40,54,35.3,0.378,48,0
375,12,140,82,43,325,39.2,0.528,58,1
436,12,140,85,33,0,37.4,0.244,41,0
455,14,175,62,30,0,33.6,0.212,38,1
510,12,84,72,31,0,29.7,0.297,46,1
518,13,76,60,0,0,32.8,0.180,41,0
558,11,103,68,40,0,46.2,0.126,42,0
559,11,85,74,0,0,30.1,0.300,35,0
582,12,121,78,17,0,26.5,0.259,62,0
590,11,111,84,40,0,46.8,0.925,45,1
614,11,138,74,26,144,36.1,0.557,50,1
635,13,104,72,0,0,31.2,0.465,38,1
648,11,136,84,35,130,28.3,0.260,42,1
658,11,127,106,0,0,39.0,0.190,51,0
691,13,158,114,0,0,42.3,0.257,44,1
740,11,120,80,37,150,42.3,0.785,48,1
744,13,153,88,37,140,40.6,1.174,39,0
745,12,100,84,33,105,30.0,0.488,46,0

In [ ]:
df[(df['Pregnancies'] >  10) & (df['Outcome']  == 0)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
28,13,145,82,19,110,22.2,0.245,57,0
36,11,138,76,0,0,33.2,0.420,35,0
86,13,106,72,54,0,36.6,0.178,45,0
274,13,106,70,0,0,34.2,0.251,52,0
333,12,106,80,0,0,23.6,0.137,44,0
358,12,88,74,40,54,35.3,0.378,48,0
436,12,140,85,33,0,37.4,0.244,41,0
518,13,76,60,0,0,32.8,0.180,41,0
558,11,103,68,40,0,46.2,0.126,42,0
559,11,85,74,0,0,30.1,0.300,35,0
582,12,121,78,17,0,26.5,0.259,62,0
658,11,127,106,0,0,39.0,0.190,51,0
744,13,153,88,37,140,40.6,1.174,39,0
745,12,100,84,33,105,30.0,0.488,46,0

In [ ]:
df[(df['Outcome'] == 1) | (df['Pregnancies'] > 2)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
...,...,...,...,...,...,...,...,...,...
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1

# Deleting rows and columns

In [ ]:
import pandas as pd

In [ ]:
imdb_df = pd.read_csv("imdb_1000.csv")

In [ ]:
bikes_df = pd.read_csv("bikes.csv",sep=';',parse_dates=['Date'],index_col='Date')

In [ ]:
bikes_df.head(4)

,Unnamed: 1,Rachel / Papineau,Berri1,Maisonneuve_2,Maisonneuve_1,Brébeuf,Parc,PierDup,CSC (Côte Sainte-Catherine),Pont_Jacques_Cartier
Date,,,,,,,,,,
2012-01-01,00:00,16,35,51,38,5.0,26,10,0,27.0
2012-02-01,00:00,43,83,153,68,11.0,53,6,1,21.0
2012-03-01,00:00,58,135,248,104,2.0,89,3,2,15.0
2012-04-01,00:00,61,144,318,116,2.0,111,8,1,19.0

In [ ]:
# df['Date'] = pd.to_datetime(bikes_df['Date'])
# df.dtypes

In [ ]:
bikes_df.dtypes

Date                           datetime64[ns]
Unnamed: 1                             object
Rachel / Papineau                       int64
Berri1                                  int64
Maisonneuve_2                           int64
Maisonneuve_1                           int64
Brébeuf                               float64
Parc                                    int64
PierDup                                 int64
CSC (Côte Sainte-Catherine)             int64
Pont_Jacques_Cartier                  float64
dtype: object

# Deleting columns

In [ ]:
bikes_df.columns

Index(['Unnamed: 1', 'Rachel / Papineau', 'Berri1', 'Maisonneuve_2',
       'Maisonneuve_1', 'Brébeuf', 'Parc', 'PierDup',
       'CSC (Côte Sainte-Catherine)', 'Pont_Jacques_Cartier'],
      dtype='object')

In [ ]:
bikes_df.drop('Unnamed: 1', axis = 1)
# axis = 1 ---> left to right ---> Columns
# axis = 0 ---> top to bottom ---> rows

,Rachel / Papineau,Berri1,Maisonneuve_2,Maisonneuve_1,Brébeuf,Parc,PierDup,CSC (Côte Sainte-Catherine),Pont_Jacques_Cartier
Date,,,,,,,,,
2012-01-01,16,35,51,38,5.0,26,10,0,27.0
2012-02-01,43,83,153,68,11.0,53,6,1,21.0
2012-03-01,58,135,248,104,2.0,89,3,2,15.0
2012-04-01,61,144,318,116,2.0,111,8,1,19.0
2012-05-01,95,197,330,124,6.0,97,13,2,16.0
...,...,...,...,...,...,...,...,...,...
2012-12-27,8,12,7,4,NaN,1,2,0,NaN
2012-12-28,0,35,3,38,NaN,0,0,0,NaN
2012-12-29,0,27,8,42,NaN,9,0,0,NaN
2012-12-30,0,5,1,5,NaN,6,0,0,NaN
2012-12-31,0,4,3,8,NaN,12,0,0,NaN

In [ ]:
bikes_df.columns

Index(['Unnamed: 1', 'Rachel / Papineau', 'Berri1', 'Maisonneuve_2',
       'Maisonneuve_1', 'Brébeuf', 'Parc', 'PierDup',
       'CSC (Côte Sainte-Catherine)', 'Pont_Jacques_Cartier'],
      dtype='object')

In [ ]:
bikes_df = bikes_df.drop('Unnamed: 1', axis=1)

In [ ]:
bikes_df.columns

Index(['Rachel / Papineau', 'Berri1', 'Maisonneuve_2', 'Maisonneuve_1',
       'Brébeuf', 'Parc', 'PierDup', 'CSC (Côte Sainte-Catherine)',
       'Pont_Jacques_Cartier'],
      dtype='object')

In [ ]:
bikes_df.drop('Berri1', axis=1, inplace=True)

In [ ]:
bikes_df.columns

Index(['Rachel / Papineau', 'Maisonneuve_2', 'Maisonneuve_1', 'Brébeuf',
       'Parc', 'PierDup', 'CSC (Côte Sainte-Catherine)',
       'Pont_Jacques_Cartier'],
      dtype='object')

In [ ]:
bikes_df.columns

Index(['Rachel / Papineau', 'Maisonneuve_2', 'Maisonneuve_1', 'Brébeuf',
       'Parc', 'PierDup', 'CSC (Côte Sainte-Catherine)',
       'Pont_Jacques_Cartier'],
      dtype='object')

In [ ]:
bikes_df.columns[[0,1,2]]

Index(['Rachel / Papineau', 'Maisonneuve_2', 'Maisonneuve_1'], dtype='object')

In [ ]:
bikes_df.drop(bikes_df.columns[[0,1,2]], axis=1, inplace=True)

In [ ]:
bikes_df.head()

,Brébeuf,Parc,PierDup,CSC (Côte Sainte-Catherine),Pont_Jacques_Cartier
Date,,,,,
2012-01-01,5.0,26,10,0,27.0
2012-02-01,11.0,53,6,1,21.0
2012-03-01,2.0,89,3,2,15.0
2012-04-01,2.0,111,8,1,19.0
2012-05-01,6.0,97,13,2,16.0

# Removing rows

In [ ]:
imdb_df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [ ]:
imdb_df.drop(1, inplace=True) # axis = 0 --- default

In [ ]:
imdb_df.head(3)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."

In [ ]:
imdb_df.drop([102,103,104,110], inplace=True)

In [ ]:
imdb_df.drop([3,4,5,6,7], inplace=True)

In [ ]:
imdb_df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."

# Group By

Any groupby operation involves one of the following operations on the original object. They are −

- Splitting the Object

- Applying a function

- Combining the results

In many situations, we split the data into sets and we apply some functionality on each subset. In the apply functionality, we can perform the following operations −

- **Aggregation** − computing a summary statistic

- **Transformation** − perform some group-specific operation

- **Filtration** − discarding the data with some condition

![](https://i.stack.imgur.com/sgCn1.jpg)

In [ ]:
# Genre   Rating
# Action   A
# Action   U
# Action   A
# Thriller   U/A
# Thriller   A
# Action   U

In [ ]:
import pandas as pd

In [ ]:
imdb_df = pd.read_csv("imdb_1000.csv")

In [ ]:
imdb_df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [ ]:
groups = imdb_df.groupby('content_rating')

In [ ]:
groups

In [ ]:
imdb_df['content_rating'].unique()

array(['R', 'PG-13', 'NOT RATED', 'PG', 'UNRATED', 'APPROVED', 'PASSED',
       'G', 'X', nan, 'TV-MA', 'GP', 'NC-17'], dtype=object)

In [ ]:
groups.get_group('R')

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
...,...,...,...,...,...,...
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [ ]:
groups = imdb_df.groupby(['content_rating','genre'])

In [ ]:
imdb_df['genre'].unique()

array(['Crime', 'Action', 'Drama', 'Western', 'Adventure', 'Biography',
       'Comedy', 'Animation', 'Mystery', 'Horror', 'Film-Noir', 'Sci-Fi',
       'History', 'Thriller', 'Family', 'Fantasy'], dtype=object)

In [ ]:
groups.get_group(('PG-13','Action'))

,star_rating,title,content_rating,genre,duration,actors_list
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
43,8.5,The Dark Knight Rises,PG-13,Action,165,"[u'Christian Bale', u'Tom Hardy', u'Anne Hatha..."
113,8.3,Batman Begins,PG-13,Action,140,"[u'Christian Bale', u'Michael Caine', u'Ken Wa..."
118,8.3,Indiana Jones and the Last Crusade,PG-13,Action,127,"[u'Harrison Ford', u'Sean Connery', u'Alison D..."
177,8.2,The Avengers,PG-13,Action,143,"[u'Robert Downey Jr.', u'Chris Evans', u'Scarl..."
196,8.1,Guardians of the Galaxy,PG-13,Action,121,"[u'Chris Pratt', u'Vin Diesel', u'Bradley Coop..."
240,8.1,The Bourne Ultimatum,PG-13,Action,115,"[u'Matt Damon', u'\xc9dgar Ram\xedrez', u'Joan..."
248,8.1,X-Men: Days of Future Past,PG-13,Action,131,"[u'Patrick Stewart', u'Ian McKellen', u'Hugh J..."
301,8.0,Furious 7,PG-13,Action,137,"[u'Vin Diesel', u'Paul Walker', u'Dwayne Johns..."
312,8.0,Star Trek,PG-13,Action,127,"[u'Chris Pine', u'Zachary Quinto', u'Simon Pegg']"
366,8.0,Serenity,PG-13,Action,119,"[u'Nathan Fillion', u'Gina Torres', u'Chiwetel..."
380,8.0,Casino Royale,PG-13,Action,144,"[u'Daniel Craig', u'Eva Green', u'Judi Dench']"
385,8.0,Spartacus,PG-13,Action,197,"[u'Kirk Douglas', u'Laurence Olivier', u'Jean ..."
391,8.0,Edge of Tomorrow,PG-13,Action,113,"[u'Tom Cruise', u'Emily Blunt', u'Bill Paxton']"
403,7.9,Ying xiong,PG-13,Action,99,"[u'Jet Li', u'Tony Chiu Wai Leung', u'Maggie C..."
411,7.9,The Bourne Identity,PG-13,Action,119,"[u'Franka Potente', u'Matt Damon', u'Chris Coo..."
433,7.9,Avatar,PG-13,Action,162,"[u'Sam Worthington', u'Zoe Saldana', u'Sigourn..."
434,7.9,Iron Man,PG-13,Action,126,"[u'Robert Downey Jr.', u'Gwyneth Paltrow', u'T..."
437,7.9,"Crouching Tiger, Hidden Dragon",PG-13,Action,120,"[u'Yun-Fat Chow', u'Michelle Yeoh', u'Ziyi Zha..."
455,7.9,Taken,PG-13,Action,93,"[u'Liam Neeson', u'Maggie Grace', u'Famke Jans..."
488,7.8,Star Trek Into Darkness,PG-13,Action,132,"[u'Chris Pine', u'Zachary Quinto', u'Zoe Salda..."
517,7.8,Captain America: The Winter Soldier,PG-13,Action,136,"[u'Chris Evans', u'Samuel L. Jackson', u'Scarl..."
532,7.8,X-Men: First Class,PG-13,Action,132,"[u'James McAvoy', u'Michael Fassbender', u'Jen..."
539,7.8,The Fugitive,PG-13,Action,130,"[u'Harrison Ford', u'Tommy Lee Jones', u'Sela ..."
567,7.8,The Bourne Supremacy,PG-13,Action,108,"[u'Matt Damon', u'Franka Potente', u'Joan Allen']"
568,7.8,Skyfall,PG-13,Action,143,"[u'Daniel Craig', u'Javier Bardem', u'Naomie H..."
591,7.7,The Count of Monte Cristo,PG-13,Action,131,"[u'Jim Caviezel', u'Guy Pearce', u'Richard Har..."
623,7.7,Dawn of the Planet of the Apes,PG-13,Action,130,"[u'Gary Oldman', u'Keri Russell', u'Andy Serkis']"
653,7.7,Fearless,PG-13,Action,104,"[u'Jet Li', u'Li Sun', u'Yong Dong']"
661,7.7,Star Wars: Episode III - Revenge of the Sith,PG-13,Action,140,"[u'Hayden Christensen', u'Natalie Portman', u'..."
684,7.7,The Big Blue,PG-13,Action,168,"[u'Jean-Marc Barr', u'Jean Reno', u'Rosanna Ar..."
686,7.7,Minority Report,PG-13,Action,145,"[u'Tom Cruise', u'Colin Farrell', u'Samantha M..."
699,7.6,The Fifth Element,PG-13,Action,126,"[u'Bruce Willis', u'Milla Jovovich', u'Gary Ol..."
726,7.6,Sherlock Holmes,PG-13,Action,128,"[u'Robert Downey Jr.', u'Jude Law', u'Rachel M..."
787,7.6,Rise of the Planet of the Apes,PG-13,Action,105,"[u'James Franco', u'Andy Serkis', u'Freida Pin..."
801,7.6,Batman,PG-13,Action,126,"[u'Michael Keaton', u'Jack Nicholson', u'Kim B..."
809,7.6,House of Flying Daggers,PG-13,Action,119,"[u'Ziyi Zhang', u'Takeshi Kaneshiro', u'Andy L..."
812,7.6,Star Trek: First Contact,PG-13,Action,111,"[u'Patrick Stewart', u'Jonathan Frakes', u'Bre..."
856,7.5,Scott Pilgrim vs. the World,PG-13,Action,112,"[u'Michael Cera', u'Mary Elizabeth Winstead', ..."
858,7.5,Sherlock Holmes: A Game of Shadows,PG-13,Action,129,"[u'Robert Downey Jr.', u'Jude Law', u'Jared Ha..."
871,7.5,X2,PG-13,Action,134,"[u'Patrick Stewart', u'Hugh Jackman', u'Halle ..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."

In [ ]:
imdb_df

,star_rating,title,content_rating,genre,duration,actors_list
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
7,8.9,The Lord of the Rings: The Return of the King,PG-13,Adventure,201,"[u'Elijah Wood', u'Viggo Mortensen', u'Ian McK..."
8,8.9,Schindler's List,R,Biography,195,"[u'Liam Neeson', u'Ralph Fiennes', u'Ben Kings..."
9,8.9,Fight Club,R,Drama,139,"[u'Brad Pitt', u'Edward Norton', u'Helena Bonh..."
10,8.8,The Lord of the Rings: The Fellowship of the Ring,PG-13,Adventure,178,"[u'Elijah Wood', u'Ian McKellen', u'Orlando Bl..."
11,8.8,Inception,PG-13,Action,148,"[u'Leonardo DiCaprio', u'Joseph Gordon-Levitt'..."
12,8.8,Star Wars: Episode V - The Empire Strikes Back,PG,Action,124,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
13,8.8,Forrest Gump,PG-13,Drama,142,"[u'Tom Hanks', u'Robin Wright', u'Gary Sinise']"
14,8.8,The Lord of the Rings: The Two Towers,PG-13,Adventure,179,"[u'Elijah Wood', u'Ian McKellen', u'Viggo Mort..."
15,8.7,Interstellar,PG-13,Adventure,169,"[u'Matthew McConaughey', u'Anne Hathaway', u'J..."
16,8.7,One Flew Over the Cuckoo's Nest,R,Drama,133,"[u'Jack Nicholson', u'Louise Fletcher', u'Mich..."
17,8.7,Seven Samurai,UNRATED,Drama,207,"[u'Toshir\xf4 Mifune', u'Takashi Shimura', u'K..."
18,8.7,Goodfellas,R,Biography,146,"[u'Robert De Niro', u'Ray Liotta', u'Joe Pesci']"
19,8.7,Star Wars,PG,Action,121,"[u'Mark Hamill', u'Harrison Ford', u'Carrie Fi..."
20,8.7,The Matrix,R,Action,136,"[u'Keanu Reeves', u'Laurence Fishburne', u'Car..."
21,8.7,City of God,R,Crime,130,"[u'Alexandre Rodrigues', u'Matheus Nachtergael..."
22,8.7,It's a Wonderful Life,APPROVED,Drama,130,"[u'James Stewart', u'Donna Reed', u'Lionel Bar..."
23,8.7,The Usual Suspects,R,Crime,106,"[u'Kevin Spacey', u'Gabriel Byrne', u'Chazz Pa..."
24,8.7,Se7en,R,Drama,127,"[u'Morgan Freeman', u'Brad Pitt', u'Kevin Spac..."
25,8.6,Life Is Beautiful,PG-13,Comedy,116,"[u'Roberto Benigni', u'Nicoletta Braschi', u'G..."
26,8.6,Once Upon a Time in the West,PG-13,Western,175,"[u'Henry Fonda', u'Charles Bronson', u'Claudia..."
27,8.6,The Silence of the Lambs,R,Drama,118,"[u'Jodie Foster', u'Anthony Hopkins', u'Lawren..."
28,8.6,Leon: The Professional,R,Crime,110,"[u'Jean Reno', u'Gary Oldman', u'Natalie Portm..."
29,8.6,City Lights,PASSED,Comedy,87,"[u'Charles Chaplin', u'Virginia Cherrill', u'F..."
30,8.6,Spirited Away,PG,Animation,125,"[u'Daveigh Chase', u'Suzanne Pleshette', u'Miy..."
31,8.6,The Intouchables,R,Biography,112,"[u'Fran\xe7ois Cluzet', u'Omar Sy', u'Anne Le ..."
...,...,...,...,...,...,...
949,7.4,Home Alone,PG,Comedy,103,"[u'Macaulay Culkin', u'Joe Pesci', u'Daniel St..."
950,7.4,Bound,R,Crime,108,"[u'Jennifer Tilly', u'Gina Gershon', u'Joe Pan..."
951,7.4,Sleepy Hollow,R,Drama,105,"[u'Johnny Depp', u'Christina Ricci', u'Miranda..."
952,7.4,Pirate Radio,R,Comedy,117,"[u'Philip Seymour Hoffman', u'Bill Nighy', u'N..."
953,7.4,The NeverEnding Story,PG,Adventure,102,"[u'Noah Hathaway', u'Barret Oliver', u'Tami St..."
954,7.4,X-Men,PG-13,Action,104,"[u'Patrick Stewart', u'Hugh Jackman', u'Ian Mc..."
955,7.4,Zero Dark Thirty,R,Drama,157,"[u'Jessica Chastain', u'Joel Edgerton', u'Chri..."
956,7.4,Manhattan Murder Mystery,PG,Comedy,104,"[u'Woody Allen', u'Diane Keaton', u'Jerry Adler']"
957,7.4,National Lampoon's Vacation,R,Comedy,98,"[u'Chevy Chase', u""Beverly D'Angelo"", u'Imogen..."
958,7.4,My Sister's Keeper,PG-13,Drama,109,"[u'Cameron Diaz', u'Abigail Breslin', u'Alec B..."
959,7.4,Deconstructing Harry,R,Comedy,96,"[u'Woody Allen', u'Judy Davis', u'Julia Louis-..."
960,7.4,The Way Way Back,PG-13,Comedy,103,"[u'Steve Carell', u'Toni Collette', u'Allison ..."
961,7.4,Capote,R,Biography,114,"[u'Philip Seymour Hoffman', u'Clifton Collins ..."
962,7.4,Driving Miss Daisy,PG,Comedy,99,"[u'Morgan Freeman', u'Jessica Tandy', u'Dan Ay..."
963,7.4,La Femme Nikita,R,Action,118,"[u'Anne Parillaud', u'Marc Duret', u'Patrick F..."
964,7.4,Lincoln,PG-13,Biography,150,"[u'Daniel Day-Lewis', u'Sally Field', u'David ..."
965,7.4,Limitless,PG-13,Mystery,105,"[u'Bradley Cooper', u'Anna Friel', u'Abbie Cor..."
966,7.4,The Simpsons Movie,PG-13,Animation,87,"[u'Dan Castellaneta', u'Julie Kavner', u'Nancy..."
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
969,7.4,Law Abiding Citizen,R,Crime,109,"[u'Gerard Butler', u'Jamie Foxx', u'Leslie Bibb']"
970,7.4,Wonder Boys,R,Drama,107,"[u'Michael Douglas', u'Tobey Maguire', u'Franc..."
971,7.4,Death at a Funeral,R,Comedy,90,"[u'Matthew Macfadyen', u'Peter Dinklage', u'Ew..."
972,7.4,Blue Valentine,NC-17,Drama,112,"[u'Ryan Gosling', u'Michelle Williams', u'John..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [ ]:
genre_groups = imdb_df.groupby(['content_rating','genre'])

In [ ]:
genre_groups.aggregate('mean').sort_values('star_rating', ascending = False)

                          star_rating  duration
content_rating genre
PG-13          Western           8.60     175.0
UNRATED        Animation         8.50      89.0
NOT RATED      Western           8.50     151.0
X              Crime             8.40     136.0
PASSED         Crime             8.40     107.0
...                               ...       ...
PG             Thriller          7.50     120.0
NC-17          Crime             7.50     106.0
X              Horror            7.50      92.0
PG-13          Mystery           7.45      99.0
PG             Horror            7.40     114.0

[95 rows x 2 columns]

In [ ]:
import numpy as np

In [ ]:
df = groups['duration'].aggregate([np.max, np.min, np.mean, np.std])
df

                          amax  amin        mean        std
content_rating genre
APPROVED       Action      205   110  143.333333  53.463383
               Adventure   220   119  158.333333  54.077105
               Animation    88    78   84.666667   5.773503
               Biography   111   111  111.000000        NaN
               Comedy      139    87  108.333333  17.478558
...                        ...   ...         ...        ...
UNRATED        Mystery      86    86   86.000000        NaN
X              Comedy       84    84   84.000000        NaN
               Crime       136   136  136.000000        NaN
               Drama       113   113  113.000000        NaN
               Horror       92    92   92.000000        NaN

[95 rows x 4 columns]

In [ ]:
df.to_excel('Movies.xlsx')

In [ ]:
pwd

'C:\\Users\\HP\\Python\\Libraries\\Pandas'

In [ ]:
df = pd.read_excel('Movies.xlsx')

In [ ]:
df.head()

  content_rating      genre  amax  amin        mean        std
0       APPROVED     Action   205   110  143.333333  53.463383
1            NaN  Adventure   220   119  158.333333  54.077105
2            NaN  Animation    88    78   84.666667   5.773503
3            NaN  Biography   111   111  111.000000        NaN
4            NaN     Comedy   139    87  108.333333  17.478558

In [ ]:
df['content_rating'].fillna(method = 'ffill', inplace = True)
df.head()

  content_rating      genre  amax  amin        mean        std
0       APPROVED     Action   205   110  143.333333  53.463383
1       APPROVED  Adventure   220   119  158.333333  54.077105
2       APPROVED  Animation    88    78   84.666667   5.773503
3       APPROVED  Biography   111   111  111.000000        NaN
4       APPROVED     Comedy   139    87  108.333333  17.478558

# Correlation

In [ ]:
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
from scipy.stats import pearsonr

In [ ]:
df.corr()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
Pregnancies,1.000000,0.129459,0.141282,-0.081672,-0.073535,0.017683,-0.033523,0.544341,0.221898
Glucose,0.129459,1.000000,0.152590,0.057328,0.331357,0.221071,0.137337,0.263514,0.466581
BloodPressure,0.141282,0.152590,1.000000,0.207371,0.088933,0.281805,0.041265,0.239528,0.065068
SkinThickness,-0.081672,0.057328,0.207371,1.000000,0.436783,0.392573,0.183928,-0.113970,0.074752
Insulin,-0.073535,0.331357,0.088933,0.436783,1.000000,0.197859,0.185071,-0.042163,0.130548
BMI,0.017683,0.221071,0.281805,0.392573,0.197859,1.000000,0.140647,0.036242,0.292695
DiabetesPedigreeFunction,-0.033523,0.137337,0.041265,0.183928,0.185071,0.140647,1.000000,0.033561,0.173844
Age,0.544341,0.263514,0.239528,-0.113970,-0.042163,0.036242,0.033561,1.000000,0.238356
Outcome,0.221898,0.466581,0.065068,0.074752,0.130548,0.292695,0.173844,0.238356,1.000000

In [ ]:
# Importing required packages
from numpy.random import randn
from scipy.stats import pearsonr

# prepare data
data1 = 10 * randn(1000) + 55
data2 = data1 + (13 * randn(1000) + 55)

# calculate Pearson's correlation
corr, _ = pearsonr(data1, data2) # 2 variables
print('Pearsons correlation: %.2f' % corr)

# corr()

Pearsons correlation: 0.59

In [ ]:
imdb_df.head(2)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"

In [ ]:
g = lambda x : x.upper()

In [ ]:
imdb_df['title'] = imdb_df['title'].apply(g)
imdb_df.head(1)

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,THE SHAWSHANK REDEMPTION,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."

In [ ]:
imdb_df.corr()

             star_rating  duration
star_rating     1.000000  0.227149
duration        0.227149  1.000000

# Questions

In [ ]:
# 1. open the nba dataset using pandas
# 2. perform normal operations like head, tail, len, info, describe, 
# value_count etc.,
# 3. Filter height that are greater than 5
# 4. Filter weight that are greater than 50
# 5. Filter height that are greater than 6 and weight that are greater than 60
# 6. Filter height that are greater than 6 or weight that are greater than 60
# 7. Filter salary that are greater than 50000
# 8. Filter height greater than 6 and weight greater than 60 or 
# salary greater than 40000
# 9. Grouby Team and use get_group to fetch Boston Celtics
# 10. Groupby College and use get_group to fetch Texas