<a href="https://colab.research.google.com/github/arunharan/python_class/blob/master/python_exercise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 10
# ctrl + enter ---> It will run the current cell and remain in the same cell
# shift + enter ---> It will run the current cell and move to the next cell

# To comment:
# Select the lines which needs to be commented abd click on ctrl + /

# esp + a ---> create cell above current cell
# esp + b ---> crdeate cell below current cell

In [ ]:
2 + 2

In [ ]:
2 - 2

In [ ]:
2 * 2

In [ ]:
2 / 2

In [ ]:
7 / 4

In [ ]:
# Floor Divison

7 // 4

In [ ]:
2 ** 2

In [ ]:
2 ** 3 # 2 * 2 * 2

In [ ]:
# Modulo

2 % 2

In [ ]:
7 % 4

In [ ]:
# PEDMAS
2 + 10 * 10 + 2
# 2 + 100 + 2

In [ ]:
(10 * 10) + (20 * 20)
# 100 + 400

# Print and Non Print Statements

In [ ]:
10

In [ ]:
10
20
30
40

In [ ]:
print(10)
print(20)

In [ ]:
print(10)
10
print(30)
2 + 20

# Variable Assignment

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [ ]:
# variable name followed by = operator then assign a value
a = 10

In [ ]:
1a = 10

In [ ]:
a1 = 10

In [ ]:
a1

In [ ]:
a b = 10

In [ ]:
a_b = 20

In [ ]:
a_b

In [ ]:
$a = 20

In [ ]:
a = 10
print(a)

In [ ]:
A

In [ ]:
a

In [ ]:
# str int float

In [ ]:
str = 10

In [ ]:
str(str)

In [ ]:
a = 10

# a ---> variable name
# = ---> operator
# 10 ---> value

# using equal to operator we are assigning 10 to variable a

In [ ]:
print(a)

In [ ]:
a

# Re-assignment

In [ ]:
a

In [ ]:
a = 30

In [ ]:
a

In [ ]:
a + a

In [ ]:
a + 60.03

In [ ]:
a * 40

In [ ]:
a

In [ ]:
a = a * 40
a

# input()

In [ ]:
a = 10
a

In [ ]:
a = int(input())

In [ ]:
a

# Data Types

In [ ]:
# numbers
#     int (1,4,-5)
#     float(10.55, -9.55)
# string ---> '',"",''''''
# list ---> []
# dictionary ---> {}
# tuple ---> ()
# set ---> {}
# boolean --->  True, False

# Numbers

In [ ]:
int a = 10

In [ ]:
a = 10
b = 55.55

In [ ]:
type(a)

In [ ]:
type(b)

In [ ]:
type(a,b)

In [ ]:
type(a), type(b)

In [ ]:
a

In [ ]:
b

In [ ]:
a
b

In [ ]:
a,b

In [ ]:
a * b

In [ ]:
c = a * b
c

# String

 - Creating a string
 - Indexing
 - Slicing
 - Properties
 - Methods
 - Print formatting

# Creating a string

In [ ]:
print('hello')

In [ ]:
print("Hello world")

In [ ]:
print('''Welcome''')

In [ ]:
'I'm not at Chennai'

In [ ]:
'I\'m not at Chennai'

In [ ]:
"I'm not at Chennai"

In [ ]:
a = '''string'''
a

In [ ]:
type(a)

In [ ]:
len(a)

In [ ]:
len('Hello world') # Len considers space as a character

# Indexing

In [ ]:
# In python the index starts from 0

In [ ]:
a = 'string 123'
a

In [ ]:
len(a)

In [ ]:
# While moving reverse the index starts from -1
# -10  -9   -8  -7   -6  -5   -4   -3   -2   -1
# s    t    r    i    n    g       1    2    3 
# 0    1    2    3    4    5   6   7    8    9
# While moving forward the index starts from 0

In [ ]:
s = 'hello world'

In [ ]:
s

In [ ]:
len(s)

In [ ]:
s

In [ ]:
s[0]

In [ ]:
s[0],s[-11]

In [ ]:
s[-1]

In [ ]:
s[10]

# Slicing

In [ ]:
s

In [ ]:
# variable_name[start_index : end_index]

In [ ]:
s[:]

In [ ]:
s[0:]

In [ ]:
s[:-1] #end_index - 1

In [ ]:
s[3:8]

In [ ]:
s

In [ ]:
s[:]

In [ ]:
s[::1]

In [ ]:
s[::2]

In [ ]:
s[::-1]

In [ ]:
s[::-2]

In [ ]:
s

In [ ]:
s[::3]

# Properties

In [ ]:
b = 'string'

In [ ]:
b

In [ ]:
b[0]

In [ ]:
b[0] = 'x' # IMMUNTABLE

In [ ]:
b = 'string1'

In [ ]:
b

In [ ]:
bb = 10

In [ ]:
a = 20
b = 'string'
c = 10.07

In [ ]:
type(a), type(b), type(c)

In [ ]:
a + c 
# If the variables are numbers then + symbol is used for additon

In [ ]:
a + b

In [ ]:
str(a) + b
# If the variables are any datatype other than numbers then
# + symbol is used as concatination

In [ ]:
a + int(b)

In [ ]:
a = 'string'
b = 'string1'

In [ ]:
a + b

In [ ]:
c = a + ' ' + b

In [ ]:
c

# Methods

In [ ]:
a = 'Hello World'
a

In [ ]:
type(a)

In [ ]:
len(a)

In [ ]:
a.

In [ ]:
a.capitalize?

In [ ]:
a

In [ ]:
a.capitalize()

In [ ]:
a

In [ ]:
a.title()

In [ ]:
a.upper()

In [ ]:
a

In [ ]:
a.lower()

In [ ]:
a.count('o')

In [ ]:
a

In [ ]:
a.count('h')

In [ ]:
a

In [ ]:
a.split()

In [ ]:
a

In [ ]:
a.split('o')
# ['Hell',' w', 'rld']

In [ ]:
a = '1234a'
type(a)

In [ ]:
a.isdigit() # If a method starts with 'is', it returns only True or False

In [ ]:
a

In [ ]:
a.isalpha()

In [ ]:
a.isalnum() # Either alphabets or numbers or combination of both

In [ ]:
a = '1234'

In [ ]:
a.isdigit()

In [ ]:
a.isalpha()

In [ ]:
a.isalnum() # it can be only numbers or only alphabets or combination of both

In [ ]:
a = '#$123a'
a.isalnum()

In [ ]:
a = 'Hello World'

In [ ]:
a.isupper()

In [ ]:
a.islower()

In [ ]:
a

In [ ]:
a.replace('W','w')

In [ ]:
a

In [ ]:
a = a.replace('W','w')

In [ ]:
a

In [ ]:
a.islower?

In [ ]:
help(a.islower)

In [ ]:
# capitalize
# title
# upper
# lower
# count
# split
# isdigit
# isalpha
# isalnum
# isupper
# islower
# replace

# [String Methods](https://docs.python.org/2.4/lib/string-methods.html)

# Print Formatting

In [ ]:
# %s ---> string(int, float)
# %d ---> int(float) ---> 10.01 ----> 10
# %f ---> float(int) ---> 10 ---> 10.0

In [ ]:
# %s ---> string(int, float)
str('10'), str('55.55')

In [ ]:
# %d ---> int(float) ---> 10.01 ----> 10
int(10.01)

In [ ]:
int('String')

In [ ]:
float(10)

In [ ]:
print('My name is {}'.format('Sid'))

In [ ]:
a = 'sid'
print('My name is {}'.format(a))

In [ ]:
print("My name is {} and my age is {}".format(a, 24))

In [ ]:
# Python program to add two numbers

# Write a Python program which accepts the pi and radius value from the user and compute the area
# of circle
#     Radius of a circle formula  = pi*r*r
#     Value of pi = 3.14
#     r = User given value

# Write a Python program to get the volume of a sphere with radius 6
#     volume of a sphere formula = V = 4/3 × pi × r3

# Write a Python program which accepts the user's first and last name and print them in reverse 
# order with a space between them
#     Sample Input :
#     first_name = 'Sid'
#     last_name = 'Sri'
#     Sample Output :
#     result = Sri Sid

In [ ]:
a = int(input())
b = int(input())
c = a + b
c

In [ ]:
pi = float(input())
r = int(input())
area = pi * r * r # pi * r ** 2

In [ ]:
area

In [ ]:
pi = float(input())
r = int(input())
volume = (4/3) * pi * r ** 3

In [ ]:
volume

In [ ]:
fn = input()
ln = input()
ln + ' ' + fn

# List

In [ ]:
# []

In [ ]:
a = 10
b = 20.55
c = 'string'

In [ ]:
a = [1,2,3,50.55,55.55,'string']

In [ ]:
type(a)

In [ ]:
len(a)

In [ ]:
a

In [ ]:
a[0]

In [ ]:
a[-1]

In [ ]:
a[0:5]

In [ ]:
a[::-1]

In [ ]:
a

In [ ]:
a[0] * 10

In [ ]:
a

In [ ]:
a[-1]

In [ ]:
a[-1].upper()

In [ ]:
a

In [ ]:
a[-1] = a[-1].upper()

In [ ]:
a

In [ ]:
a[0]

In [ ]:
a[0] = 20 # MUTABLE
a

In [ ]:
a + 10

In [ ]:
a + [10]

In [ ]:
a

In [ ]:
a = [1,2,3,4,5,6]

In [ ]:
a

In [ ]:
a.

In [ ]:
a.append(10)# Permanent change

In [ ]:
a

In [ ]:
a.append(10,20)

In [ ]:
# 10,20 ---> 2 parameters
# [10,20] ---> 1 parameter

In [ ]:
a.append([10,20,1,2,3,5])

In [ ]:
a

In [ ]:
a = [10,20,1,2,3,5]

In [ ]:
a

In [ ]:
a.extend([10,20,1,2,3,5])

In [ ]:
a

In [ ]:
a.pop()

In [ ]:
a

In [ ]:
a.pop(1) #index

In [ ]:
a

In [ ]:
a.insert(5,[55,35])

In [ ]:
a

In [ ]:
a.remove(1) # Value

In [ ]:
a

In [ ]:
a.remove(10)
a

In [ ]:
a.remove(55)

In [ ]:
a.remove([55,35])
a

In [ ]:
a

In [ ]:
a.count(1) # value

In [ ]:
a.count(2)

In [ ]:
a.count('a')

In [ ]:
a.count([55, 35])

In [ ]:
a.append([55, 35])

In [ ]:
a

In [ ]:
a[-1]

In [ ]:
a[-1].pop(0)

In [ ]:
a

In [ ]:
a.count([55, 35])

In [ ]:
a

In [ ]:
a.index(2) # value

In [ ]:
a

In [ ]:
b = a.copy()

In [ ]:
b

In [ ]:
a.clear()

In [ ]:
a

In [ ]:
a = [1,4,3,2,4,6,8,2,2,10]

In [ ]:
a

In [ ]:
a.sort()

In [ ]:
a

In [ ]:
a.sort(reverse = True)
a

In [ ]:
a = [1,4,3,2,4,6,8,2,2,10]

In [ ]:
a

In [ ]:
a[::-1] # Temporary

In [ ]:
a

In [ ]:
a.reverse() # Permanent
a

In [ ]:
a

In [ ]:
# append
# extend
# pop
# remove
# insert
# copy
# clear
# sort
# reverse
# count
# index

# Nested List

In [ ]:
a = [1,2,3]
b = [3,4,5]

In [ ]:
c = [a,b]

In [ ]:
c

In [ ]:
c[0]

In [ ]:
c[0][2]

In [ ]:
c[0][0:-1]

In [ ]:
c[0]

In [ ]:
c[0].append(10)
c

In [ ]:
pwd # Present Working Directory

In [ ]:
# 1. Create a list with certain values
# 2. Append 10 to the created lits
# 3. Delete the last value in the list
# 4. Delete the 4th index in the list
# 5. Add ['what', 'is', 'your', 'name'] to the list
# 6. Access the 5th index in the list
# 7. Access the last index in the list
# 8. Create a list with multiple values and reverse it using 
    # a) REVERSE function
    # b) Without using reverse function

In [ ]:
a = [1,2,3,4,5]
a.append(10)
a.pop() or del a[-1] or a.pop(-1)
a.pop(4)
a.extend(['what', 'is', 'your', 'name'])
a[5]
a[-1]
a.reverse() or a[::-1]

# Dictionary

In [ ]:
# {}
# {'Key' : 'Value', 'Key1' : 'Value1'}
# Keys should be unique

In [ ]:
d = {'a' : 1, 'b' : 10.55, 'c' : 'string', 'd' : [1,2,3,4]}

In [ ]:
d

In [ ]:
d['a']

In [ ]:
d['d']

In [ ]:
d['a'] * 10

In [ ]:
d

In [ ]:
d['a'] = d['a'] * 10
d

In [ ]:
d['c'].upper()

In [ ]:
d['c'] = d['c'].upper()
d

In [ ]:
d['d']

In [ ]:
d['d'].append(10)

In [ ]:
d

In [ ]:
d = {}
d

In [ ]:
type(d)

In [ ]:
d['a'] = 10
d['b'] = 'string'
d['c'] = ['Dog','Cat']

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d.items()

In [ ]:
d.pop()

In [ ]:
d

In [ ]:
d.pop('a') # key

In [ ]:
d

In [ ]:
d.popitem()

In [ ]:
d

In [ ]:
d.update(d = 40)
d

In [ ]:
d.update(b = 20, c = 'string')

In [ ]:
d

In [ ]:
d['b'] * d['d']

In [ ]:
d['d'] = 20
d['f'] = 24

In [ ]:
d

In [ ]:
c = {'f' : 55.55}
c

In [ ]:
d.update(c)
d

In [ ]:
d['b']

In [ ]:
d.get('b')

In [ ]:
d

In [ ]:
d['g']

In [ ]:
d.get('g')

# Nested Dictionary

In [ ]:
d = {'a' : {'b' : {'c' : 10}}}

In [ ]:
d

In [ ]:
d.keys()

In [ ]:
d.values()

In [ ]:
d['c']

In [ ]:
d

In [ ]:
d['a']

In [ ]:
d['a']['b']

In [ ]:
d['a']['b']['c']

In [ ]:
# 1. Create a dictionary with keys and values
# 2. Add a new key with KEY NAME as 'new_key' and VALUE as 'This_is_ a_new_key'
# 3. Delete 'new_key'
# 4. Acccess all the keys in the created dictionary
# 5. Access all the values in the created dictionary
# 6. Create an empty dictionary as d
# 7 .Create the following variables in the dictionary d
#     d['animal'] = ['Dog','cat']
#     d['animal1'] = 'Dog'
#     d['animal2'] = 'Dog','cat'
#     d['answer'] = 42
# 8. Access the value 'Dog' in the key 'animal'

In [ ]:
d = {'b': 20, 'd': 20, 'c': 'string', 'f': 24}
d['new_key'] = 'This_is_ a_new_key'
d.pop('new_key') or d.popitem()
d.keys()
d.values()
d = {}
d['animal'] = ['Dog','cat']
d['animal1'] = 'Dog'
d['animal2'] = 'Dog','cat'
d['answer'] = 42
d['animal'][0]

# Tuple

In [ ]:
# ()
# Immutable

In [ ]:
a = (1,2,'string')

In [ ]:
a

In [ ]:
a[0]

In [ ]:
a[-1]

In [ ]:
a[0:2]

In [ ]:
a[::-1]

In [ ]:
a

In [ ]:
a[0] = 20

In [ ]:
a

In [ ]:
# count
# index

In [ ]:
a.

In [ ]:
a.count(1)

In [ ]:
a.count(0) #value

In [ ]:
a

In [ ]:
a.index('string')# value, returns the lowest index of the object

In [ ]:
a

In [ ]:
a = (1,2,3,[1,2,3])

In [ ]:
a

In [ ]:
a[0] = 3

In [ ]:
a[3]

In [ ]:
a[3].append(20)
a

In [ ]:
(1,2,3,'string') # cannot change any values

In [ ]:
b = (1,2,3,'string',[1,2,3,4,5,'string']) # It is possible for change of values
# in list

In [ ]:
b[4]

In [ ]:
b[4][-1]

In [ ]:
b[4][-1] = b[4][-1].upper()
b

# Set

In [ ]:
a = [1,2,3,4,5,4,3,1,2,3,4,6,7,8,5,4,2,1,10,3,5,2,1]

In [ ]:
a

In [ ]:
set(a)

In [ ]:
b = set(a)

In [ ]:
b

In [ ]:
a

In [ ]:
type(b)

In [ ]:
a = {1,2,3,4,5,6, 'string'}
b = {1,2,3,4,5,6,7,8,9}

In [ ]:
a

In [ ]:
set(b) - set(a) # Values present in set b but not in set a

In [ ]:
set(a) - set(b) # Values present in set a but not in set b

In [ ]:
a

In [ ]:
b

In [ ]:
a.intersection(b) # Common values in sets

In [ ]:
b.intersection(a) # Common values in sets

In [ ]:
a.union(b) # Combination of both set values(unique values)

In [ ]:
b.union(a) # Combination of both set values(unique values)
# all that is possible in venn diagram is possible here also
# These are some of the widely used methods in set

In [ ]:
x = set()

In [ ]:
x

In [ ]:
x.add(1)

In [ ]:
x

In [ ]:
x.add(2)

In [ ]:
x

In [ ]:
x.add(1)

In [ ]:
x

# Boolean

#### Recap

In [ ]:
a = '1234'

In [ ]:
a.isdigit()

In [ ]:
# True, False, None 
# These are called boolean values

In [ ]:
# >
# <
# >=
# <=
# ==
# !=

In [ ]:
10 > 20

In [ ]:
20 < 30

In [ ]:
1 == 1

# Chained Comparison Operator

In [ ]:
10 > 5 > 3

In [ ]:
# and ---> return true only when all the given conditions are true
#             else it return false
# or ---> return true if  any one of the given conditions is true
#             if all the conditions are False then it return False

In [ ]:
10 > 5 > 3

In [ ]:
10 > 5 and 5 > 3
#  T         T

In [ ]:
10 > 5 and 3 > 3
#  T         F

In [ ]:
10 > 5 or 3 > 3
#  T        F

In [ ]:
a = None

In [ ]:
a

In [ ]:
type(a)

In [ ]:
b = 0
b

In [ ]:
a = 10
a

In [ ]:
pwd

# conditional statements

In [ ]:
# if condition:
#     Action Statement

In [ ]:
a, b = 10, 20

if a > b: # False
    print(a)

In [ ]:
# if condition:
#     Action Statement
# else:(Optional)
#     Action Statement

In [ ]:
if a > b: # false
    print(a) # This is not executed
else:
    print(b)

In [ ]:
if a < b: # 10 < 20 ---> True
    print(a) # this will be executed
else:
    print(b)

In [ ]:
# if a > b: 
#     Action Statement
# elif a < b:
#     Action Statement
# elif a == b: 
#     Action Statement
# elif condition:
#     Action Statement
# .
# .
# .
# .
# .
# else:(Optional)
#     Action Statement

In [ ]:
if True
    print('yes')
else:
    print('No')

In [ ]:
if True:
print('yes')
else:
    print('No')

In [ ]:
if True: # Condition - a < b ----> True
    print('yes')

In [ ]:
if True : print('yes')
else : print('No')

In [ ]:
if True:
    print('yes')
else:
    print('No')

In [ ]:
if False: # Conditional ---> a < b --->  False
    print('yes')
else:
    print('No')

#### Recap

In [ ]:
7 % 4 # Remainder

In [ ]:
11 % 2

In [ ]:
10 % 2

In [ ]:
1 == 0

In [ ]:
a = 10
a % 2 == 0

In [ ]:
a = 10
if a % 2 == 0:
    print('Even')

In [ ]:
a = 11
a % 2 == 0

In [ ]:
a = 11
if a % 2 == 0:
    print('Even')

In [ ]:
a = 11
if a % 2 == 0:
    print('Even')
else:
    print('Odd')

In [ ]:
a = input('Enter a value')
type(a)

In [ ]:
a = input('Enter a value')
if a % 2 == 0:
    print('Even')
else:
    print('Odd')

In [ ]:
a = int(input('Enter a value'))
if a % 2 == 0:
    print('Even')
else:
    print('Odd')

In [ ]:
a

In [ ]:
type(a)

In [ ]:
a = 'string'
if a == 'String':
    print('It is a string')
elif a == 'int':
    print('It is an int')
elif a == 'float':
    print('It is a float')
elif a == 'list':
    print('It is a list')

In [ ]:
a = 'string'
if a == 'String':
    print('It is a string')
elif a == 'int':
    print('It is an int')
elif a == 'float':
    print('It is a float')
elif a == 'list':
    print('It is a list')
else:
    print('It is not in a required format')

In [ ]:
a = 'string'
if a == 'string':
    print('It is a string')
elif a == 'int':
    print('It is an int')
elif a == 'float':
    print('It is a float')
elif a == 'list':
    print('It is a list')
else:
    print('It is not in a required format')

In [ ]:
a,b = 10,55
a,b

In [ ]:
# a = int(input('Enter a value'))
# b = int(input('Enter a value'))
if a > b:
    print('A is G')
else:
    print('B is G')

# in operator

In [ ]:
a = [1,2,3,4]

In [ ]:
5 in a # [1,2,3,4]

In [ ]:
3 in a

In [ ]:
'x' in ['x','y',1,2,3,4]

In [ ]:
'x' and 4 in ['x','y',1,2,3,4]

In [ ]:
'x' and 5 in ['x','y',1,2,3,4]

In [ ]:
'x' or 4 in ['x','y',1,2,3,4]

In [ ]:
'i' in 'string'

# Question

In [ ]:
# Write a Python program to calculate the sum of three given numbers, if the values are less than 100,
#print value * 10, else print value * 100

# Write a Python program to get a new string from a given string where "Is" has been added to the 
#front. If the given string already begins with "Is" then return the string unchanged

# Write a Python program to find whether a given number (accept from the user) is even or odd

# Write a Python program to check whether a specified value is contained in a group of values
#     Hint:
#         Use 'in'
#     Example : 4 in [12,3,4,5] ---> True
    
#     Test Data :
#     3 -> [1, 5, 8, 3] : True
#     -1 -> [1, 5, 8, 3] : False

# Write a python program that return greatest of 3 numbers
#     Inputs:
#         a = 200
#         b = 768
#         c = 555
#     Expected Output:
#         B is greater

# a = 'string', check the data type of the variable 'a', if it is string print 'string' else print 'No'

In [ ]:
# Write a Python program to calculate the sum of three given numbers, if the values are less than 100,
#print value * 10, else print value * 100
a,b,c = 10,20,40
d = a + b + c
if d < 100:
    print('The value is', d * 10)
else:
    print(d * 100)

In [ ]:
# Write a Python program to get a new string from a given string where "Is" has been added to the 
#front. If the given string already begins with "Is" then return the string unchanged

a = 'empty'
if a[0] == 'i' and a[1] == 's':
    print(a)
else:
    print('is' + a)

In [ ]:
# Write a Python program to find whether a given number (accept from the user) is even or odd
a = int(input())
if a % 2 == 0:
    print('Even')
else:
    print('Odd')

In [ ]:
# Write a Python program to check whether a specified value is contained in a group of values
#     Hint:
#         Use 'in'
#     Example : 4 in [12,3,4,5] ---> True
    
#     Test Data :
#     3 -> [1, 5, 8, 3] : True
#     -1 -> [1, 5, 8, 3] : False

3 in [1,2,3,4]

In [ ]:
# Write a python program that return greatest of 3 numbers
#     Inputs:
#         a = 200
#         b = 768
#         c = 555
#     Expected Output:
#         B is greater

a,b,c = 100,20,3

if a > b and a > c: # If a is greater than both b and c, a is greater
    print(a)
elif b > a and b > c:
    print(b)
else:
    print(c)

In [ ]:
# a = 'string', check the data type of the variable 'a', if it is string print 'string' else print 'No'
a = 'string'
if type(a) == str:
    print('Yes')
else:
    print('No')

# Looping

In [ ]:
a = 10
if a % 2 == 0:
    print('even')
else:
    print('odd')

In [ ]:
a = [10,20,30,40,44,55,17,98]

In [ ]:
# for item in object:
#     body of loop

# item ----> user defined temporary variable

In [ ]:
a = [1,2,3,4]
for i in a: # [1,2,3,4]
    if i % 2 == 0:
        print(i,'Even')
    else:
        print(i,'Odd')

In [ ]:
for i in 'hello':
    print(i)

In [ ]:
for i in 'hello world':
    print(i)

In [ ]:
for i in 10:
    print(i)

In [ ]:
d = {'a' : 1, 'b' : 2, 'c' : 3}

In [ ]:
d

In [ ]:
for i in d:
    print(i)
#keys

In [ ]:
for i in d.keys():
    print(i)

In [ ]:
for i in d.values():
    print(i)

In [ ]:
d

In [ ]:
d.items()

In [ ]:
for i in d.items(): # a,1   b,2   c,3
    print(i)

In [ ]:
for i,j in d.items(): # a,1   b,2   c,3
    print(i)
    print(j)

In [ ]:
for i,j,k in d.items(): # a,1   b,2   c,3
    print(i)
    print(j)
    print(k)

In [ ]:
a =

In [ ]:
a = 10
b = 20
z

In [ ]:
for i in (1,2,3,4,5,6,7):
    print(i * i)

In [ ]:
a = [1,2,3,4,5,6,7]
sum(a)

In [ ]:
a = [1,2,3,4,5,6,7]
count = 0
for i in a:
    count = count + i # count += i
# count = 0 + 1 = 1
# count = 1 + 2 = 3
# count = 3 + 3 = 6
# count = 6 + 4 = 10
count

# Range

In [ ]:
# range(start index, end index, step)

In [ ]:
range(10) # 0,1,2,3,4,5,6,7,8,9

In [ ]:
list(range(10))

In [ ]:
list(range(0,10))

In [ ]:
tuple(range(0,10))

In [ ]:
list(range(5,10))

In [ ]:
list(range(0,10,2))

In [ ]:
list(range(0,10,3))

In [ ]:
1 # Write a python program that takes in range of values from 0 to 10. 
#print all the values
2 # Write a python program that takes in range of values from 0 to 10. 
#print all even values
3 # Write a python program that takes in range of values from 0 to 10. 
#print all odd values
4 # Write a python program that takes in a alphanumeric variable and 
#print only the digits in it
#     Hint:
#         Use 'isdigit()' in condition part of IF STATEMENT 
#     Input:
#         a = 'ais1324'
#     Expected Output:
#         1324
5 # Write a python program that takes in a alphanumeric variable and print only the alphabets in it
#     Hint:
#         Use 'isalpha()' in condition part of IF STATEMENT 
#     Input:
#         a = 'ais1324'
#     Expected Output:
#         ais
6 # a = ['aba', 'bab', 'India', 'America', 'Hi', 'Hello']
# Using the above list, check if the length of each word is > 2 and 
#first charcter and last character are same
# If the above two conditions are satisfied, then print that word 
#else print the first character of the word.

In [ ]:
1 # Write a python program that takes in range of values from 0 to 10. 
#print all the values
for i in range(10):
    print(i)

In [ ]:
2 # Write a python program that takes in range of values from 0 to 10. 
#print all even values
for i in range(0,10):
    if i % 2 == 0:
        print(i)

In [ ]:
3 # Write a python program that takes in range of values from 0 to 10. 
#print all odd values
for i in range(0,10):
    if i % 2 != 0:
        print(i)

In [ ]:
4 # Write a python program that takes in a alphanumeric variable and 
#print only the digits in it
#     Hint:
#         Use 'isdigit()' in condition part of IF STATEMENT 
#     Input:
#         a = 'ais1324'
#     Expected Output:
#         1324
a = 'ais1324'
for i in a:
    if i.isdigit():
        print(i)

In [ ]:
5 # Write a python program that takes in a alphanumeric variable and print only the alphabets in it
#     Hint:
#         Use 'isalpha()' in condition part of IF STATEMENT 
#     Input:
#         a = 'ais1324'
#     Expected Output:
#         ais
a = 'ais1324'
for i in a:
    if i.isalpha():
        print(i)

In [ ]:
6 # a = ['aba', 'bab', 'India', 'America', 'Hi', 'Hello']
# Using the above list, check if the length of each word is > 2 and 
#first charcter and last character are same
# If the above two conditions are satisfied, then print that word 
#else print the first character of the word.
a = ['aba', 'bab', 'India', 'America', 'Hi', 'Hello']
for i in a:
    if len(i) > 2 and i[0] == i[-1]:
        print(i)
    else:
        print(i[0])

# While

In [ ]:
# while condition:
#     Body of loop

# As long as the condition remains True, the loop will be executed
# Once the condition becomes False, it will exit the loop

In [ ]:
a = 0
while a < 3:
    print(a)
    a = a + 1

In [ ]:
a = 0
while a < 3:
    print(a)
    a = a + 1
else: # Optional
    print('All Done')

# break, continue, pass

In [ ]:
a = 0
while a < 3:
    print(a)
    a = a + 1
    if a == 3:
        print('A is 3')
        break # Once it encounter the break statement it will exit the loop
              # Execution will be terminated
    else:
        print('Continuing...')
           
# 0 < 3 --- T
# 0
# 0 + 1 = 1
# 1 == 3 --- F
# Continuing...

# 1 < 3 --- T
# 1
# 1 + 1 = 2
# 2 == 3 --- F
# Continuing...
        
# 2 < 3 --- T
# 2
# 2 + 1 = 3
# 3 == 3 --- T
# 'A is 3'

In [ ]:
a = 0
while a < 3:
    break
    print(a)
    a = a + 1
    if a == 3:
        print('A is 3')
        break # Once it encounter the break statement it will exit the loop
              # Execution will be terminated
    else:
        print('Continuing...')

In [ ]:
for i in 'hello':
    if i == 'h':
        continue
    print('current char', i)

In [ ]:
for i in range(10): # [0,1,2,3,4,5,6,7,8,9]
    print(i * i)
    break

In [ ]:
for i in range(10):
    print(i * i)
    if i == 5:
        print('I is 5')
        break
        
# [0,1,2,3,4,5,6,7,8,9]
# 0
# 0 == 5 ---> F
# 1
# 1 == 5 ---> F
# 4
# 2 == 5 ----> F
# 9
# 3 == 5 ---> F
# 16
# 4 == 5 ---> F
# 25
# 5 == 5 
# I is 5
# Exit

In [ ]:
a = 0
while a < 3:
    print(a)
    a = a + 1
    if a == 3:
        print('A is 3')
        break
    else:
        print('Continuing...')
        continue# Skips the current iteration and moves to the next iteration

In [ ]:
a = 10
if a % 2 == 0:

In [ ]:
count = 0
for i in range(10): # [0,1,2,3,4,5,6,7,8,9]
    if i < 3:
        pass # Skipping statement, it does nothing at all
    else:
        count += i # count = count + i
count

In [ ]:
# This goes into an infinite loop

# while True:
#     print('Yes')

In [ ]:
# This goes into an infinite loop

# a = 1
# while a > 0:
#     print(a)
#     a = a + 1

# List Comprehension

In [ ]:
for i in range(3): # [0,1,2]
    print(i)

0
1
2

In [ ]:
[i for i in range(3)]

[0, 1, 2]

In [ ]:
a = []
for i in range(11):
    a.append(i * i)
a

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
b = [i * i for i in range(11)]
b

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
a = [1,2,3,4,5]
for i in a:
    if i % 2 == 0:
        print(i)

2
4

In [ ]:
[i for i in a if i % 2 == 0]

[2, 4]

In [ ]:
a = [1,2,3,4,5]
for i in a:
    if i % 2 == 0:
        print(i)
    else:
        print('odd')

odd
2
odd
4
odd

In [ ]:
[i if i % 2 == 0 else 'odd' for i in a]

['odd', 2, 'odd', 4, 'odd']

In [ ]:
# for loop and if statement ---> [(ouput) (for loop) (if statement)]
# for loop, if and else ---> [(o/p of if) (if statement) (else) (o/p of else) (for loop)]

In [ ]:
a,b,c, = 10,20,30
if a > b and a > c:
    print(a)
elif b > a and  b > c:
    print(b)
else:
    print(c)

30

In [ ]:
[a if a > b and a > c else(b if b > a and b > c else c)]

[30]

In [ ]:
# a = [[1,2,3,8,7,6,5,4,3,2,3],[4,5,6,45,96,124,34,5]]
# Required output ---> [1,2,3,8,7,6,5,4,3,2,3,4,5,6,45,96,124,34,5]

# Hints:
# Create an empty list 
# use nested for loop(for inside for) to add values to the empty list

In [ ]:
# Try the above question using list comprehension

In [ ]:
a = [1,2,3,4,5,5,4,3,4,5,4,3,2,1,2,3,3,4,5,4,3,2,1,2,3,43,4]
# Empty dict
# loop
# 1 : 3, 2 : 5, .......

In [ ]:
a = [[1,2,3],[4,5,6]]
for i in a: # [1,2,3],[4,5,6]
    for j in i: # [1,2,3]
        print(j)

1
2
3
4
5
6

In [ ]:
[j for i in a for j in i]

[1, 2, 3, 4, 5, 6]

In [ ]:
a = [1,2,3,4,5,5,4,3,4,5,4,3,2,1,2,3,3,4,5,4,3,2,1,2,3,43,4]
# Empty dict
# loop
# 1 : 3, 2 : 5, .......
a.count(2)

In [ ]:
d = {}
for i in a:
    d[i] = a.count(i)
d

In [ ]:
d = {}
for i in a:
    if i in d.keys():
        d[i] = d[i] + 1
    else:
        d[i] = 1
d

In [ ]:
# 1. Convert Celsius to Fahrenheit using list comprehension
# celsius = [0,10,20.1,34.5]
# celcius to fahrenheit formula = (9/5) * temp_value + 32

# 2. words = ['Liam','Noah','William','James','Logan','Benjamin','Mason','Elijah','Oliver','Jacob','Lucas',\
#          'Michael','Alexander','Ethan','Daniel','Matthew','Aiden','Henry','Joseph','Jackson','Samuel','Sebastian',\
#          'David','Carter','Wyatt','Jayden','John','Owen','Dylan','Luke','Gabriel','Anthony','Isaac','Grayson','Jack',\
#          'Julian','Levi','Christopher','Joshua','Andrew','Lincoln','Mateo','Ryan','Jaxon','Nathan','Aaron','Isaiah','Thomas',\
#          'Charles','Caleb','Josiah','Christian','Hunter','Eli','Jonathan','Connor','Landon','Adrian','Asher','Cameron','Leo',\
#          'Theodore','Jeremiah','Hudson','Robert','Easton','Nolan','Nicholas','Ezra','Colton','Angel','Brayden','Jordan','Dominic',\
#          'Austin','Ian','Adam','Elias','Jaxson','Greyson','Jose','Ezekiel','Carso','Evan','Maverick','Bryson','Jace','Cooper','Xavier'\
#          ,'Parker','Roman','Jason','Santiago','Chase','Sawyer','Gavin','Leonardo','Kayden','Ayden','Jameson']
# Get the words that starts with 'A' in the above variable using list comprehension

# 3. a = 'ais123'
# print only the digits using list comprehension

# 4. a = 'ais123'
# print only the alphabets using list comprehension

# 5. a = [[1,3,2], [4,6,5]]
# Required output [1,2,3,4,5,6] - using list comprehension

In [ ]:
# 1. Convert Celsius to Fahrenheit using list comprehension
# celsius = [0,10,20.1,34.5]
# celcius to fahrenheit formula = (9/5) * temp_value + 32
celsius = [0,10,20.1,34.5]
[(9/5) * i + 32 for i in celsius]

In [ ]:
words = ['Liam','Noah','William','James','Logan','Benjamin','Mason','Elijah','Oliver','Jacob','Lucas',\
         'Michael','Alexander','Ethan','Daniel','Matthew','Aiden','Henry','Joseph','Jackson','Samuel','Sebastian',\
         'David','Carter','Wyatt','Jayden','John','Owen','Dylan','Luke','Gabriel','Anthony','Isaac','Grayson','Jack',\
         'Julian','Levi','Christopher','Joshua','Andrew','Lincoln','Mateo','Ryan','Jaxon','Nathan','Aaron','Isaiah','Thomas',\
         'Charles','Caleb','Josiah','Christian','Hunter','Eli','Jonathan','Connor','Landon','Adrian','Asher','Cameron','Leo',\
         'Theodore','Jeremiah','Hudson','Robert','Easton','Nolan','Nicholas','Ezra','Colton','Angel','Brayden','Jordan','Dominic',\
         'Austin','Ian','Adam','Elias','Jaxson','Greyson','Jose','Ezekiel','Carso','Evan','Maverick','Bryson','Jace','Cooper','Xavier'\
         ,'Parker','Roman','Jason','Santiago','Chase','Sawyer','Gavin','Leonardo','Kayden','Ayden','Jameson']
[i for i in words if i.startswith('A')]

In [ ]:
a = 'ais123'
# print only the digits using list comprehension
[i for i in a if i.isdigit()]

In [ ]:
[i for i in a if i.isalpha()]

In [ ]:
a = [[1,3,2], [4,6,5]]
[j for i in a for j in sorted(i)]

# Function

In [ ]:
a = 10
if a % 2 == 0:
    print('Even')

In [ ]:
a = [11,21,13,14,52]
for i in a :
    if i % 2 == 0:
        print(i, 'Even')

In [ ]:
# def user_defined_name(parameter1, parameter2, ....):
#     Docstring - Documentation string
#     '''
#     What input the function take
#     What operation it performs
#     what will be the optput
#     '''
#     Body of function

In [ ]:
def greet():
    '''
    The function does not take any paramter
    when called, it prints GM
    '''
    print('GM')

In [ ]:
greet()

In [ ]:
greet()

In [ ]:
greet()

In [ ]:
def greet(name):
    '''
    The function takes one paramter, which is a string
    when called, it return GM + name
    '''
    print('GM' + name)

In [ ]:
greet('Sid')

In [ ]:
def greet(name):
    '''
    The function takes one paramter, which is a string
    when called, it return GM + name
    '''
    print('GM' + ' ' + name)

In [ ]:
greet('Sri')

In [ ]:
greet('Sid')

In [ ]:
greet()

In [ ]:
def add(a,b):
    print(a + b)

In [ ]:
add(10,20)

In [ ]:
add(10,34)

In [ ]:
add(10,20,30)

In [ ]:
# Write a Python program to calculate the sum of three given numbers, if the values are less than 100,
#print value * 10, else print value * 100 using function

# Write a Python program to get a new string from a given string where "Is" has been added to the 
#front. If the given string already begins with "Is" then return the string unchanged using function

# Write a Python program to find whether a given number is even or odd 
# using function

# Write a python program that return greatest of 3 numbers using function
#     Inputs:
#         a = 200
#         b = 768
#         c = 555
#     Expected Output:
#         B is greater

# a = 'string', check the data type of the variable 'a', if it is string print 'string' 
# else print 'No' using function

In [ ]:
def add(a,b):
    print(a + b)

In [ ]:
def sub(a,b):
    return(a - b)

In [ ]:
add(10,20)

In [ ]:
sub(30,55)

In [ ]:
a = 10
b = 20

In [ ]:
a,b

In [ ]:
a1 = add(10,20) # print
b1 = sub(55,95) # return

In [ ]:
a1,b1

In [ ]:
# 1,2,3,4 ---> 4 parameters
# [1,2,3,4] ---> 1 parameter

In [ ]:
def add(a):
    count = 0
    for i in a:
        count += i # count = count + i
        print(count)
    return count

In [ ]:
add([1,2,3])

In [ ]:
sum_ = add([1,2,3,4,5,6,7,6,5,3,2,1,3,5,6,5,34,2,1,3,5,6,4,100])
sum_

In [ ]:
# 1 Write a function that takes in  alphanumeric values and print only the digits in it

# 2 Write a function that takes in a alphanumeric values and print only the alphabets in it

# 3 a = ['aba', 'bab', 'India', 'America', 'Hi', 'Hello']
# Using the above list, check if the length of each word is > 2 and 
#first charcter and last character are same
# If the above two conditions are satisfied, then print that word 
#else print the first character of the word

# Local Variable and Global Variable

In [ ]:
a = 10

In [ ]:
a

In [ ]:
def square():
    return a * a

In [ ]:
square()

In [ ]:
a

In [ ]:
def square():
    a = 20
    f = 30
    return a * a * f

In [ ]:
square()

In [ ]:
a

In [ ]:
f

In [ ]:
a

In [ ]:
def square():
    a = a + 10
    return a * a

In [ ]:
val = square()
val

In [ ]:
a

In [ ]:
def square():
    global a
    a = a + 10 # Permanent change
    return a * a

In [ ]:
square()

In [ ]:
a

In [ ]:
a = 10
a

In [ ]:
def square():
    global a
    a = 60 
    a = a + 10
    return a * a

In [ ]:
square()

In [ ]:
a

# `*args` and `**kwargs`

Work with Python long enough, and eventually you will encounter `*args` and `**kwargs`. These strange terms show up as parameters in function definitions. What do they do? Let's review a simple function:

In [ ]:
sum((10,20))

In [ ]:
def sum_(a,b):
    return sum((a,b))

In [ ]:
sum_(40,60)

In [ ]:
sum_(20,20,25)

Obviously this is not a very efficient solution, and that's where `*args` comes in.

## `*args`

When a function parameter starts with an asterisk, it allows for an *arbitrary number* of arguments, and the function takes them in as a tuple of values. Rewriting the above function:

In [ ]:
# *args ---> aruguments - Any number of parameters
# **kwargs ---> keyword arguments

# *a, **a

In [ ]:
def myfunc(*args):
    return sum((args))

In [ ]:
myfunc(40,20,30,25,55,55,66,87,90)

In [ ]:
myfunc(12)

In [ ]:
myfunc(1,2,3,4)

In [ ]:
myfunc()

Notice how passing the keyword "args" into the `sum()` function did the same thing as a tuple of arguments.

It is worth noting that the word "args" is itself arbitrary - any word will do so long as it's preceded by an asterisk. To demonstrate this:

In [ ]:
def myfunc(*a): # It is always a best practice to stick to *args
    return sum(a)

myfunc(40,60,20)

In [ ]:
def myfunc(*1): # It is always a best practice to stick to *args
    return sum(1)

myfunc(40,60,20)

## `**kwargs`

Similarly, Python offers a way to handle arbitrary numbers of *keyworded* arguments. Instead of creating a tuple of values, `**kwargs` builds a dictionary of key/value pairs. For example:

In [ ]:
def sub(a,b = 20):
    return (b - a)

In [ ]:
sub(10)

In [ ]:
sub(100, 2)

In [ ]:
d = {'a' : 1, 'b' : 2}
if 'd' in d:
    print('yes')
else:
    print('No')

In [ ]:
d['b']

In [ ]:
kwargs['fruit']

In [ ]:
print('My name is {}'.format('Sid'))

In [ ]:
def myfunc(**kwargs):
    if 'fruits' in kwargs:
#         print('My name is {}'.format('Sid'))
        print(f"My favorite fruit is {kwargs['fruits']}") 
        # review String Formatting(f is the .format()) if this syntax is unfamiliar
    else:
        print("I don't like fruit")

In [ ]:
myfunc(fruit = 'apple', fruits = 'jack fruit')

In [ ]:
myfunc()

In [ ]:
5 in [1,2,3]

## `*args` and `**kwargs` combined

You can pass `*args` and `**kwargs` into the same function, but `*args` have to appear before `**kwargs`

In [ ]:
def myfunc(*args, **kwargs):
    if 'fruit' and 'juice' in kwargs:
        print(f"I like {' and '.join(args)} and my favorite fruit is {kwargs['fruit']}")
        print(f"May I have some {kwargs['juice']} juice?")
    else:
        pass

In [ ]:
myfunc('eggs','spam',fruit = 10,juice = 'orange')

In [ ]:
print('My name is {}'.format('Sid'))

Placing keyworded arguments ahead of positional arguments raises an exception:

In [ ]:
myfunc(fruit='cherries',juice='orange','eggs','spam')

In [ ]:
def myfunc(**kwargs,*args): # The syntax is in such a way that first *args should be passed.
    if 'fruit' and 'juice' in kwargs:
        print(f"I like {' and '.join(args)} and my favorite fruit is {kwargs['fruit']}")
        print(f"May I have some {kwargs['juice']} juice?")
    else:
        pass
        
myfunc('eggs','spam',fruit=10,juice='orange')

In [ ]:
def func(**kwargs, *args):
    pass

As with "args", you can use any name you'd like for keyworded arguments - "kwargs" is just a popular convention.

That's it! Now you should understand how `*args` and `**kwargs` provide the flexibilty to work with arbitrary numbers of arguments!

In [ ]:
1 in [1,2,3]

In [ ]:
for i in range(100,105):
    print(i)

In [ ]:
for i in enumerate(range(100,105)):
    print(i)

In [ ]:
a = [1,2,3,4,5]
for i, j in enumerate(a):
    print(a[i])
#     print(j)

In [ ]:
# Common:

# https://www.techbeamers.com/python-programming-questions-list-tuple-dictionary/
# https://www.datacamp.com/community/tutorials/18-most-common-python-list-questions-learn-python

# List:

# https://www.w3resource.com/python-exercises/list/
# https://www.geeksforgeeks.org/python-list/

# create a empty list and append values using iteration
# Create a list and access elements in it
# Create a list and remove elements from list
# Create a list and slice elements in it
# Write a Python program to sum all the items in a list using function
# Write a Python program to multiplies all the items in a list using function
# Get the largest number from a list using function
# Count the number of strings where the string length is 2 or more and 
#the first and last character are same from a given list of strings
# Remove duplicates from a list
# Check a list is empty or not
# Difference between the two lists
# Access the index of a list - use enumerate function
# Get the frequency of the elements in a list
# Count the number of elements in a list within a specified range

# Dictionary:

# https://www.geeksforgeeks.org/python-dictionary/
# https://www.w3resource.com/python-exercises/dictionary/

# Create a nested dictionary
# Create a dict, add elements to it, add set of values to a key,
# Update existing Key's Value, Adding Nested Key value to Dictionary
# Create a dict with keys and values, access key 1, access using GET function
# Create a nested dict with keys and values, delete key 2, 
# delete a key from nested dict, ue POP function, delete entire dict 
# Check a dictionary is empty or not
# Add a key to a dictionary
# Check if a given key already exists in a dictionary
# Iterate over dictionaries using for loops
# Sum all the items in a dictionary
# Multiply all the items in a dictionary
# Remove a key from a dictionary
# Get the maximum and minimum value in a dictionary
# Find the highest 3 values in a dictionary
# Sort a list alphabetically in a dictionary

# Tuple:

# https://www.geeksforgeeks.org/tuples-in-python/
# https://www.w3resource.com/python-exercises/tuple/

In [ ]:
# create a empty list and append values using iteration
a = []
for i in range(1,10):
    a.append(i)
# Create a list and access elements in it
a[0]
# Create a list and remove elements from list
a.pop(1) or a.remove(3) or del a[1]
# Create a list and slice elements in it
a[3:8]
# Write a Python program to sum all the items in a list using function
def sum_(a):
    count = 0
    for i in a:
        count = count + i
    return count
# Write a Python program to multiplies all the items in a list using function
def mul(a):
    count = 1
    for i in a:
        count = count * i
    return count
# Get the largest number from a list using function
def greatest(a):
    val = a[0]
    for i in a:
        if i > val:
            val = i
        else:
            pass
    return val

a = [1,2,13,4,5]
a.sort(reverse = True)

# Count the number of strings where the string length is 2 or more and 
#the first and last character are same from a given list of strings
# Remove duplicates from a list
a = [1,2,13,4,5,1,2,3,21,2,3,4,2,11,2,3,4,3,2,1,2,3,4,5]
b = []
for i in a:
    if i in b:
        pass
    else:
        b.append(i)
b
# Check a list is empty or not
a = []
if len(a) == 0:
    print('List is empty')
else:
    print('List is not empty')
# Difference between the two lists
a = [1,2,3,4,5]
b = [1,2,3]
set(a) - set(b)
# Access the index of a list - use enumerate function
a = [1,2,3,4,5]
for i, j in enumerate(a):
    print(a[i])
# Get the frequency of the elements in a list
a = [1,2,3,4,3,2,1,2,3,4,54,10,6,8,8,6,5,3,1,1,3,4,6,7,9,8,6,5,3,12]
d = {}
for i in a:
    d[i] = a.count(i)
d
# Count the number of elements in a list within a specified range
len(a[3:10])

In [ ]:
a[0]

# Lambda Expression

In [ ]:
def square(n):
    return n * n

In [ ]:
square(10)

100

In [ ]:
square(20)

400

In [ ]:
# lambda variable_name : expression(operation to be performed)

In [ ]:
def square(n):
    return n * n

In [ ]:
g = lambda n : n * n

In [ ]:
square(10)

100

In [ ]:
g(7)

49

In [ ]:
g(10)

100

In [ ]:
square(10,20)

TypeError: square() takes 1 positional argument but 2 were given

# map, filter, reduce

In [ ]:
# map(function, values)

In [ ]:
square(10)

100

In [ ]:
square(10,20)

TypeError: square() takes 1 positional argument but 2 were given

In [ ]:
list(map(square, [1,2,3,4,5,6,7,8,9,10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
list(map(square, a))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
list(map(lambda x : x * x, a))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
list(map(lambda x : x * x, [1,2,3,4,5,6,7,8,9,10]))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
def square1(n):
    print( n * n)

In [ ]:
a = [1,2,3,4,5,6,7,8,9,10]
list(map(square1, a))

In [ ]:
# filter(function, values)

In [ ]:
def o_e(n):
    for i in n:
        if i % 2 == 0:
            print(i)

In [ ]:
o_e([1,2,3,4,5,6,7,8,9,10])

2
4
6
8
10

In [ ]:
list(filter(o_e,[1,2,3,4,5,6,7,8,9,10]))

TypeError: 'int' object is not iterable

In [ ]:
def o_e(i):
#     for i in n:
    if i % 2 == 0:
        return(i)

In [ ]:
list(filter(o_e,[1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

In [ ]:
def o_e(i):
#     for i in n:
    if i % 2 == 0:
        return(i)
    else:
        return('odd')

In [ ]:
list(filter(o_e,[1,2,3,4,5,6,7,8,9,10]))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
list(map(o_e,[1,2,3,4,5,6,7,8,9,10]))

['odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10]

In [ ]:
list(filter(lambda x : x % 2 == 0, [1,2,3,4,5,6,7,8,9,10]))

[2, 4, 6, 8, 10]

In [ ]:
def o_e(i):
#     for i in n:
    if i % 2 == 0:
        return(i)
    else:
        return('odd')

In [ ]:
list(filter(o_e,[1,2,3,4,5,6,7,8,9,10]))

In [ ]:
list(map(o_e,[1,2,3,4,5,6,7,8,9,10]))

In [ ]:
# reduce(function, values)

In [ ]:
from functools import reduce
# from a package called functools we are importing a function called reduce

In [ ]:
a = [1,2,3,4,5]

In [ ]:
count = 0
for i in a:
    count += i
count

# 0 + 1 = 1
# 1 + 2 = 3
# 3 + 3 = 6
# 6 + 4 = 10
# 10 + 5 = 15

15

In [ ]:
reduce(lambda x, y : x + y, a)
# 1 2 3 4 5
# 3 3 4 5 
# 6 4 5 
# 10 5
# 15

15

In [ ]:
4 ** 0.5

In [ ]:
# numbers = [1, 2, 3] add 1 to each value using lambda expression and list comprehension
# Write a Python code using lambda expression to illustrate cube of a number
# Write a Python code using lambda expression to get only the odd number of the below values
    # li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
# Write a Python code using lambda expression to get the square root of the below values
    # li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
# Write a Python code using lambda expression to find intersection of two arrays using lambda expression
    # arr1 = [1, 3, 4, 5, 7] 
    # arr2 = [2, 3, 5, 6]
# Function to rearrange positive and negative elements
    # arr = [12, 11, -13, -5, 6, -7, 5, -3, -6] 
    # Expected output [-13, -5, -7, -3, -6, 12, 11, 6, 5]
# Write a Python program to count the even in a given array of integers using Lambda
# Write a Python program to add two given lists using map and lambda.
#     Original list:
#     [1, 2, 3]
#     [4, 5, 6]
#     Result: after adding two list
#     [5, 7, 9]
# Write a Python program to find numbers divisible by nineteen or thirteen using Lambda
#      Orginal list:19, 65, 57, 39, 152, 190
#     [19, 65, 57, 39, 152, 639, 121, 44, 90, 190]
#     Numbers of the above list divisible by nineteen or thirteen:
#     [19, 65, 57, 39, 152, 190]
# Write a Python program to find palindromes in a given list of strings using Lambda.
#     Orginal list of strings:
#     
#     List of palindromes:
#     ['php', 'aaa']

In [ ]:
numbers = [1, 2, 3]
list(map(lambda num : num ** 3, numbers))

[1, 8, 27]

In [ ]:
i = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
list(filter(lambda x : x % 2 != 0, i))

[5, 7, 97, 77, 23, 73, 61]

In [ ]:
# Write a Python code using lambda expression to get the square root of the below values
li = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
list(map(lambda num : num * .5, li))

[2.5, 3.5, 11.0, 48.5, 27.0, 31.0, 38.5, 11.5, 36.5, 30.5]

In [ ]:
#Write a Python code using lambda expression to find intersection of two arrays using lambda expression
arr1 = [1, 3, 4, 5, 7] 
arr2 = [2, 3, 5, 6]
list(filter(lambda x : x in arr1, arr2))

[3, 5]

In [ ]:
# Function to rearrange positive and negative elements
arr = [12, 11, -13, -5, 6, -7, 5, -3, -6] 
    #Expected output [-13, -5, -7, -3, -6, 12, 11, 6, 5]
[i for i in arr if i < 0] + [i for i in arr if i > 0]

[-13, -7, -6, -5, -3, 5, 6, 11, 12]

In [ ]:
# Write a Python program to count the even in a given array of integers using Lambda
i = [5, 7, 22, 97, 54, 62, 77, 23, 73, 61]
len(list(filter(lambda x : x % 2 == 0, i)))

3

In [ ]:
# Write a Python program to add two given lists using map and lambda.
#     Original list:
#     [1, 2, 3]
#     [4, 5, 6]
#     Result: after adding two list
#     [5, 7, 9]
x = [1, 2, 3]
y = [4, 5, 6]
list(map(lambda a, b : a + b, x, y))

[5, 7, 9]

In [ ]:
# Write a Python program to find numbers divisible by nineteen or thirteen using Lambda
#      Orginal list:19, 65, 57, 39, 152, 190
#     [19, 65, 57, 39, 152, 639, 121, 44, 90, 190]
#     Numbers of the above list divisible by nineteen or thirteen:
#     [19, 65, 57, 39, 152, 190]
y = [19, 65, 57, 39, 152, 639, 121, 44, 90, 190]
list(filter(lambda x : (x % 19 == 0 or x % 18 == 0), y))

[19, 57, 152, 90, 190]

In [ ]:
# Write a Python program to find palindromes in a given list of strings using Lambda.
#     Orginal list of strings:
#     
#     List of palindromes:
#     ['php', 'aaa']

x = ['php', 'aaa', 'arun']
list(filter(lambda x : x[0] == x[-1], x))

['php', 'aaa']